<div class="{{sizeClass}}">
  <div class="thumbnail product">
    <img src="{{item.mainImage}}" alt="{{item.title}}" class="image">
    <!--div class="promotion">
      <span class="new-product lbl text-normal"> NEW</span>
      <span class="discount lbl text-normal">15% OFF</span>
      <span class="exlusive lbl text-normal">Exclusive</span>
    </div-->
    <div class="add-to-cart">
      <a href="{{item.link}}" class="glyphicon glyphicon-plus-sign" tooltip="Add to cart" tooltip-placement="top"></a>
    </div>
    <a class="add-fav" tooltip="Add to Wishlist">
      <i class="glyphicon glyphicon-star"></i>
    </a>
    <div class="caption">
      <h4 class="pull-right">{{item.price}}</h4>
      <h4><a href="{{item.link}}">{{item.title}}</a>
      </h4>
      <p>{{item.description}}</p>
      <div class="ratings">
        <p class="pull-right"><a href="{{item.link}}#comments">{{item.reviewCount}} reviews</a></p>
        <rating ng-model="item.rating" readonly="true" />
        <p class="text-normal">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;
          <span ng-repeat="category in item.categories"><a href="/category/{{category._id}}">{{category.name}}</a></span>
        </p>
      </div>
    </div>
  </div>
</div>