<div class="{{sizeClass}}">
  <div class="thumbnail product card">
    <img src="{{getImageUrl(item.mainImage)}}" alt="{{item.title}}" class="image">
    <div class="promotion">
      <!-- <span class="new-product lbl text-normal" ng-show="(moment(item.createdAt).diff(moment(), 'days') <= 0) && (moment(item.createdAt).diff(moment(), 'days') >= -10)">New</span> -->
      <span class="discount lbl text-normal" ng-show="item.specialPrice && item.specialPrice !== '' && (!item.isSpecialScheduled || ((moment(item.specialPriceStartDate).diff(moment(), 'days') <= 0) && (moment(item.specialPriceEndDate).diff(moment(), 'days') >= 0)))">
        <span ng-switch="item.isSpecialDiscount">
          <span ng-switch-when="true"><span class="text-bolder">{{item.specialPrice}}%</span> OFF</span>
          <span ng-switch-when="false"><span class="text-bolder">{{item.currency}} {{item.price - item.specialPrice}}</span> OFF</span>
        </span>
      </span>
      <span class="exlusive lbl text-normal" ng-show="item.featured && showFeaturedLabel">Featured</span>
    </div>
    <div class="add-to-cart">
      <a class="fa fa-eye bg-teal" href="#" tooltip="Quick View" tooltip-placement="top">
      </a>
    </div>
    <button class="added-to-fav" tooltip="Remove from Wishlist" tooltip-placement="bottom" ng-show="item.myFav" ng-click="toogleFav()">
      <i class="fa fa-star"></i>
    </button>
    <button class="add-fav active" tooltip="Add to Wishlist" tooltip-placement="bottom" ng-hide="item.myFav" ng-click="toogleFav()">
      <i class="glyphicon glyphicon-star"></i>
    </button>
    <div class="caption">
      <h4 class="pull-right">
        <product-price break-point="true" item="item" moment="moment"></product-price>
      </h4>
      <h4><a href="{{item.link}}">{{item.title}}</a>
      </h4>
      <p class="p-description">{{item.description}}</p>
      <div class="ratings">
        <p class="pull-right"><a href="{{item.link}}#comments">{{item.reviewsCount}} reviews</a></p>
        <rating ng-model="item.rating" readonly="true" />
        <p class="text-normal">
          <span class="glyphicon glyphicon-tags"></span>&nbsp;
          <span ng-repeat="category in item.categories"><a href="/category/{{category._id}}">{{category.name}}, </a></span>
        </p>
      </div>
    </div>

    <div class="card-footer foot-actions">
      <button class="btn btn-success btn-flat btn-mini">
        <span class="text-normal">Buy Now</span>
      </button>
      <button class="btn btn-default btn-flat btn-mini pull-right" ng-click="addToCart(item);" ng-hide="addedToCart">
        <span class="text-normal">Add to Cart</span>
      </button>
      <a href="/cart" class="btn btn-primary btn-flat btn-mini pull-right" ng-show="addedToCart">
        <span class="text-normal"><i class="fa fa-shopping-cart"></i> Go to Cart</span>
      </a>
    </div>
  </div>
</div>