<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 cart_step_body auth_box">
      <h2 class="auth_header">Delivery Address <small>Enter/Choose your shipping address</small></h2>

      <div class="row" collapse="showNewAddressForm">
        <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="address in addresses">
          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">{{address.title}}</h3>
            </div>
            <div class="card-body">
              <address>
                <strong>{{address.firstName}} {{address.lastName}}</strong><br>
                {{address.addressLine1}},<br>
                {{address.addressLine2}},<br>
                {{address.city}},<br>
                {{address.state}}, {{address.country}} - {{address.zipcode}}<br>
                <abbr title="Email">E:</abbr> {{address.email}}<br>
                <abbr title="Phone">P:</abbr> {{address.mobile}}
              </address>
            </div>
            <div class="card-footer">
              <span ng-switch="address.isDefault">
                <span ng-switch-when="true">
                  <span class="label label-default default_selection">Selected</span>
                </span>
                <span ng-switch-when="false">
                  <button type="button" class="btn btn-default btn-sm">Deliver Here</button>
                </span>
              </span>
              <div class="clearfix"></div>
            </div>
          </div> <!-- end of panel -->
        </div>
      </div> <!-- end of row -->

      <div class="row" collapse="showNewAddressForm">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <button class="btn btn-default btn-sm" ng-click="showNewAddressForm=!showNewAddressForm">Enter new address</button>
        </div>
      </div>

      <div class="row" collapse="!showNewAddressForm">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <button class="btn btn-default btn-sm" ng-click="showNewAddressForm=!showNewAddressForm">Select from saved addresses</button>

          <address-form></address-form>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <hr/>
          <h2>Extra Notes</h2>
          <div class="form-group">
            <label for="bill_addr_cust_note">Anything you would like to remember for this order.</label>
            <textarea rows="5" cols="26" name="bill_addr_cust_note" class="form-control flat" id="bill_addr_cust_note"></textarea>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
          <a href="/cart" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back To Cart</a>
          <a href="/checkout/payment" class="btn btn-success pull-right">Go to Payment <i class="fa fa-angle-double-right"></i></a>
        </div>
      </div>

    </div>
  </div>
</div>