<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="account_header">
        <i class="fa fa-list-alt"></i> My Orders
        <small class="pull-right">
          <i class="fa fa-info-circle text-cursor-pointer" ng-class="{'text-primary': isOrderNoteCollapsed}" title="Show info/help" ng-click="isOrderNoteCollapsed = !isOrderNoteCollapsed"></i>
        </small>
      </h1>
    </div>
  </div>
  <div class="alert alert-info" collapse="!isOrderNoteCollapsed" ng-click="isOrderNoteCollapsed = !isOrderNoteCollapsed">
    <i class="fa fa-info"></i>
    <p>
      <span class="label label-success">&nbsp;</span> - Your order processed successfully.
    </p>
    <p>
      <span class="label label-warning">&nbsp;</span> - Your order is in progress.
    </p>
    <p>
      <span class="label label-danger">&nbsp;</span> - We are not able to process your order. View order details for more information.
    </p>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" ng-hide="totalItems === 0">
      <div class="card card-default user-order-box" ng-class="{'card-solid':!showProductInfo}" ng-repeat="order in orders">
        <div class="card-body">
          <div class="order-details text-cursor-pointer" ng-click="showProductInfo=!showProductInfo">
            <span class="order-status">
            <span class="label" ng-class="{'label-danger': order.transcationStatus === 1,
              'label-success': order.transcationStatus === 0}">&nbsp;</span>
            </span>
            <span class="order-number">
              <strong>Order:</strong> {{getOrderDisplayNumber(order.orderNumber)}}
            </span>
            <span class="order-items pull-right" ng-hide="showProductInfo">
              Total:
              <strong>{{order.currency}} {{order.grandTotal}}</strong>
            </span>
            <span class="order-date pull-right">{{moment(order.orderDate).format(dateFormate)}}</span>
          </div>
          <div class="order-products" collapse="!showProductInfo">
            <div class="order-product" ng-repeat="item in order.products">
              <small class="order-product-price pull-right">
                (<product-price show-regular-price="false" item="item" moment="moment"></product-price>
                <i class="fa fa-times text-small text-muted"></i> 
                {{item.qty}}) 
                = 
                <strong>{{item.currency}} {{calculateCartPrice(item)}}</strong>
              </small>
              <div class="order-product-details">
                <img src="{{getImageUrl(item.img)}}" alt="{{item.title}}" class="order-product-image" />
                <span class="order-product-name">
                  <strong>
                    <a class="text-medium" href="/product/{{item._id}}">{{item.title}}</a>
                  </strong>
                  <br/>
                  <span class="order-product-description">{{item.description}}</span>
                  <br/>
                  <a tooltip="Write a Review for {{item.title}}" class="btn btn-sm btn-default order-product-review-button" href="/write-review/{{item._id}}"> 
                    <i class="fa fa-pencil fa-fw"></i> 
                    <span class="text">Write a Review</span>
                  </a>
                </span>
              </div>
              <clearfix></clearfix>
            </div>
          </div>
          <div ng-show="showProductInfo && order.extraNotes" class="well well-sm">
            <h4>Extra Notes:</h4>
            <em>{{order.extraNotes}}</em>
          </div>
          <div ng-show="showProductInfo" class="order-grand-total text-right">
            <span class="pull-left">Sub Total: </span>
            <strong>{{order.currency}} {{order.subTotal}}</strong>
          </div>
          <div ng-show="showProductInfo" class="order-grand-total text-right">
            <span class="pull-left">Shipping: </span>
            <strong><em>Free</em></strong>
          </div>
          <div ng-show="showProductInfo && order.promoCode" class="order-grand-total text-right">
            <span class="pull-left">
              Promo Code: 
              (<em tooltip="{{order.promoCodeInfo}}" class="text-small"><strong>{{order.promoCode}}</strong></em>)
            </span>
            <strong>- {{order.currency}} {{order.promoCodeValue}}</strong>
          </div>
          <div ng-show="showProductInfo" class="order-grand-total text-right">
            <span class="pull-left">Grand Total: </span>
            <strong>{{order.currency}} {{order.grandTotal}}</strong>
          </div>
        </div> <!-- /.card-body -->

        <div class="card-footer" ng-show="showProductInfo">
          <button class="btn btn-default btn-sm" tooltip="Track Order">
            <i class="fa fa-map-marker fa-fw"></i>
          </button>
          <button class="btn btn-default btn-sm" tooltip="Mail Invoice" ng-show="showProductInfo">
            <i class="fa fa-paper-plane fa-fw"></i>
          </button>
          <a role="button" href="/my/invoice/{{order._id}}" class="btn btn-default btn-sm" tooltip="View Invoice" ng-show="showProductInfo">
            <i class="fa fa-list fa-fw"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 text-center" ng-show="totalItems > 0">
      <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="10" ng-change="pageChanged()"></pagination>
    </div>

    <div class="col-md-12 col-sm-12" ng-show="totalItems === 0">
      <h4 class="alert alert-warning text-center">
        You have not placed any orders on the site. Go to <a href="/" class="alert-link">home</a> page and start buying.
      </h4>
    </div>
  </div> <!-- end of row -->
</div>