<div class="card card-solid">
  <div class="card-header">
    <h1 class="card-title text-big">
      <i class="fa fa-cubes"></i> Add Product
    </h1>
    <small class="pull-right margin-right-10 back-to-list-link">
      <a href="/admin/products">
        <i class="fa fa-angle-double-left"></i> Back to list
      </a>
    </small>
  </div>
  <div class="card-overlay" ng-show="loading">
    <span class="card-overlay-icon text-black">
      <i class="fa fa-refresh fa-spin fa-2x"></i>
    </span>
  </div>
  <div class="card-overlay" ng-show="success">
    <span class="card-overlay-icon text-black">
      <h2 class="text-green">Product submitted successfully.</h2>
      <a href="/admin/products">
        <i class="fa fa-angle-double-left"></i> Back to list
      </a>
    </span>
  </div>
  <form name="form" role="form" novalidate ng-submit="submitProduct(form);">
    <div class="card-body product-form">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="card card-info">
            <div class="card-header">
              <h1 class="card-title">
                Basic Product Information
              </h1>
            </div>
            <div class="card-body border-bottom">
              <div class="alert alert-danger" role="alert" ng-show="(form.name.$error.required || form.name.$error.maxlength || form.info.$error.required || form.info.$error.maxlength) && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block" ng-show="form.name.$error.mongoose">
                {{ errors.other }}
                </p>
                <p class="help-block"
                   ng-show="(form.name.$error.required) && (form.name.$dirty || submitted)">
                  Name can not be empty.
                </p>
                <p class="help-block"
                   ng-show="(form.name.$error.maxlength) && (form.name.$dirty || submitted)">
                  Name must be less than 50 characters.
                </p>
                <p class="help-block"
                   ng-show="(form.info.$error.required) && (form.info.$dirty || submitted)">
                  Description can not be empty.
                </p>
                <p class="help-block"
                   ng-show="(form.info.$error.maxlength) && (form.info.$dirty || submitted)">
                  Description must be less than 350 characters.
                </p>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="(!product.summary || product.summary === '') && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block">
                  Summary can not be blank.
                </p>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="(!product.categories || product.categories.length === 0) && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block">
                  Select at least one product category.
                </p>
              </div>
              <div class="alert alert-danger" role="alert" ng-show="(form.price.$error.required || form.price.$error.maxlength || form.special_price.$error.maxlength) && submitted">
                  <i class="fa fa-warning"></i>
                  <p class="help-block"
                     ng-show="(form.price.$error.required) && (form.price.$dirty || submitted)">
                    Price can not be empty.
                  </p>
                  <p class="help-block"
                     ng-show="(form.price.$error.maxlength) && (form.price.$dirty || submitted)">
                    Price must be less than 50 characters.
                  </p>
                  <p class="help-block"
                     ng-show="(form.special_price.$error.maxlength) && (form.special_price.$dirty || submitted)">
                    Special Price must be less than 50 characters.
                  </p>
                </div>
              <div class="alert alert-danger" role="alert" ng-show="(!product.mainImage || product.mainImage === '') && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block">
                  Product main image is required.
                </p>
              </div>
              <div class="form-group">
                <label class="text-cursor-pointer control-label" for="name">Name:</label>
                <input type="text" name="name" class="form-control" id="name" ng-model="product.title" placeholder="Name" ng-maxlength="50" required ng-disabled="loading" />
              </div>
              <div class="form-group">
                <label class="text-cursor-pointer control-label" for="info">Description:</label>
                <textarea rows="5" cols="26" name="info" class="form-control" id="info" ng-model="product.description" placeholder="Description" ng-maxlength="250" required ng-disabled="loading"></textarea>
                <span class="helper text-small">
                  This will be a short information about the product. Mostly inlude features that needs to be highlighted.
                </span>
              </div>
              <div class="form-group">
                <label class="text-cursor-pointer control-label" for="summary">Summary:</label>
                <div class="row">
                  <div class="col-md-6 col-sm-12 margin-bottom-10" text-angular-toolbar name="toolbar1" ta-toolbar="[['h1','h2','h3', 'h4'],['bold','italics','underline'],['p','pre','quote']]">
                  </div>
                  <div class="col-md-6 col-sm-12" text-angular-toolbar name="toolbar2" ta-toolbar="[['ul','ol','indent','outdent'],['justifyLeft','justifyCenter','justifyRight','clear'],['insertImage','insertLink']]">
                  </div>
                </div>
                <div text-angular ta-target-toolbars="toolbar1,toolbar2" ng-model="product.summary" placeholder="Enter product summary and use formatting tools for making it rich." ta-disabled="loading" required="true"></div>
                <span class="helper text-small">
                  In summary you can add all the information about product and it can be decorated to be rich text as well.
                </span>
              </div>
              <div class="form-group">
                <label class="text-cursor-pointer control-label" for="categories">Product Categories:</label>
                <ui-select multiple ng-model="product.categories" style="width: 100%" theme="bootstrap" close-on-select="false" reset-search-input="true" ng-required="true" ng-disabled="loading">
                  <ui-select-match placeholder="Select Categories">
                    <span ng-show="!$item.image || $item.image === ''">
                      <img src="../../../assets/images/no.png" width="16" height="16" />
                    </span>
                    <span ng-switch="$item.isIcon" ng-show="$item.image && $item.image !== ''">
                      <img ng-switch-when="false" class="product-image" src="{{getImageUrl($item.image)}}" width="16" height="16" />
                      <i ng-switch-when="true" class="fa fa-fw {{$item.image}}"></i>
                    </span>
                    {{$item.name}}
                  </ui-select-match>
                  <ui-select-choices repeat="category in categories | filter: {name: $select.search}">
                    <span ng-show="!category.image || category.image === ''">
                      <img src="../../../assets/images/no.png" width="16" height="16" />
                    </span>
                    <span ng-switch="category.isIcon" ng-show="category.image && category.image !== ''">
                      <img ng-switch-when="false" class="product-image" src="{{getImageUrl(category.image)}}" width="16" height="16" />
                      <i ng-switch-when="true" class="fa fa-fw {{category.image}}"></i>
                    </span>
                    <span ng-bind-html="category.name | highlight: $select.search"></span>
                  </ui-select-choices>
                </ui-select>
              </div>
              <div class="card-body">
                <span class="text-blue text-cursor-pointer" ng-click="addCategoryVisible=!addCategoryVisible;">Add new category</span>
              </div>
              <div class="card-footer" collapse="!addCategoryVisible">
                <div class="alert alert-danger" ng-show="errors.category && errors.category !== ''">
                  <i class="fa fa-warning"></i>
                  {{errors.category}}
                </div>
                <div class="alert alert-success" ng-show="errors.categorySuccess && errors.categorySuccess !== ''">
                  <i class="fa fa-check"></i>
                  {{errors.categorySuccess}}
                </div>
                <div class="form-group">
                  <label class="text-cursor-pointer control-label" for="category_name">Category Name:</label>
                  <input type="text" name="category_name" class="form-control input-sm" id="category_name" ng-model="category.name" placeholder="Category Name" ng-maxlength="50" ng-disabled="loading" />
                </div>
                <div class="form-group">
                  <span class="btn btn-default btn-sm" ng-click="addNewCategory();">Add category</span>
                </div>
              </div> <!-- ./categories -->
            </div>
          </div> <!-- ./info -->

          <div class="nav-tabs-holder nav-tabs-holder-flat bg-white border-top">
            <ul class="nav nav-tabs nav-tabs-info border-horizontal">
              <li ng-class="{'active': selection === 1}" ng-click="selection = 1;" class="text-cursor-pointer"><a href="#"><i class="fa fa-money"></i> Price</a></li>
              <li ng-class="{'active': selection === 2}" ng-click="selection = 2;" class="text-cursor-pointer"><a href="#"><i class="fa fa-image"></i> Images</a></li>
              <li ng-class="{'active': selection === 3}" ng-click="selection = 3;" class="text-cursor-pointer"><a href="#"><i class="fa fa-list"></i> Attributes</a></li>
              <li ng-class="{'active': selection === 4}" ng-click="selection = 4;" class="text-cursor-pointer"><a href="#"><i class="fa fa-link"></i> Linked Products</a></li>
              <li ng-class="{'active': selection === 5}" ng-click="selection = 5;" class="text-cursor-pointer"><a href="#"><i class="fa fa-barcode"></i> Extra</a></li>
            </ul>
            <div class="tab-contents">
              <div class="tab" ng-class="{'active': (selection === 1)}">
                <div class="form-group">
                  <label class="text-cursor-pointer control-label" for="price">Regular Price:</label>
                  <input type="text" name="price" class="form-control" id="price" ng-model="product.price" placeholder="Regular Price" ng-maxlength="50" required only-digits allow-decimal="true" ng-disabled="loading" />
                </div>
                <div class="form-group">
                  <label class="text-cursor-pointer control-label" for="special_price">Special Price:</label>
                  <input type="text" name="special_price" class="form-control" id="special_price" ng-model="product.specialPrice" placeholder="Special Price" ng-maxlength="50" only-digits allow-decimal="true" ng-disabled="loading" />
                  <input type="checkbox" ng-model="product.isSpecialDiscount" name="speical_discount" id="speical_discount" />
                  <label class="text-cursor-pointer control-label text-normal" for="speical_discount">Value is in percentage.</label>
                  <span class="text-small text-blue text-cursor-pointer pull-right margin-top-5" ng-click="product.isSpecialScheduled=!product.isSpecialScheduled;">
                    Schedule special price
                  </span>
                  <clearfix></clearfix>
                  <div class="row margin-top-10" collapse="!product.isSpecialScheduled">
                    <div class="col-md-6 col-sm-12">
                      <p class="input-group">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-sm" ng-click="openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input type="text" class="form-control input-sm" datepicker-popup="{{'dd-MMMM-yyyy'}}" ng-model="product.specialPriceStartDate" is-open="startOpened" datepicker-options="dateOptions" ng-required="true" min-date="minDate" close-text="Close" ng-disabled="loading" />
                      </p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                      <p class="input-group">
                        <span class="input-group-btn">
                          <button type="button" class="btn btn-default btn-sm" ng-click="openEndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                        <input type="text" class="form-control input-sm" datepicker-popup="{{'dd-MMMM-yyyy'}}" ng-model="product.specialPriceEndDate" is-open="endOpened" datepicker-options="dateOptions" ng-required="true" min-date="minDate" close-text="Close" ng-disabled="loading" />
                      </p>
                    </div>
                  </div>
                </div>
                <p class="card-footer">
                  <span class="text-normal">All prices are in {{product.currency}}.</span>
                  <span class="pull-right" ng-show="product.price && product.price > 0">
                    Product price preview: 
                    <span ng-class="{'text-strike': product.specialPrice && product.specialPrice !== '' && product.specialPrice > 0, 'text-bold': !product.specialPrice || product.specialPrice === '' || product.specialPrice === 0}">
                      {{product.currency}} {{product.price}}
                    </span>
                    <span ng-switch="product.isSpecialDiscount" ng-show="product.specialPrice && product.specialPrice !== '' && product.specialPrice > 0">
                      <span ng-switch-when="false" class="text-bold">
                        &nbsp; {{product.currency}} {{product.specialPrice}}
                      </span>
                      <span ng-switch-when="true" class="text-bold">
                        &nbsp; {{product.currency}} {{product.price - ((product.price * product.specialPrice) / 100)}}
                      </span>
                    </span>
                  </span>
                </p>
              </div><!-- /.price tab -->
              <div class="tab" ng-class="{'active': (selection === 2)}">
                <div class="row">
                  <div class="col-md-6 col-sm-12 border-right">
                    <h2 class="margin-top-1">Main Image</h2>
                    <div ng-show="!product.mainImage || product.mainImage === ''">
                      <span class="btn btn-default btn-sm" ng-click="openImageUploder();">
                        <i class="fa fa-plus-circle"></i> Add Main Image
                      </span>
                    </div>
                    <div ng-show="product.mainImage && product.mainImage !== ''">
                      <img class="thumbnail img-responsive" src="{{getImageUrl(product.mainImage)}}" style="min-width:200px;" />
                      <span class="btn btn-default btn-sm" ng-click="openImageUploder();">Change</span>
                      <span class="btn btn-danger btn-sm" ng-click="removeMainImage();">Remove</span>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-12 border-left">
                    <h2 class="margin-top-1">Additional Images</h2>
                    <span class="btn btn-default" ng-click="openGalleryUploder();">
                      <i class="fa fa-plus-circle"></i> Add Images
                    </span> <br/>
                    <span class="helper text-small">
                      You can add upto 5 additional images.
                    </span> <br/> <br/>
                    <div ng-repeat="image in product.images" class="product-images">
                      <img src="{{getImageUrl(image)}}" class="thumb" width="64px" height="64px" />
                      <i class="fa fa-times product-image-remove-icon text-cursor-pointer" tooltip="Remove" ng-click="removeImage(image);"></i>
                    </div>
                    <clearfix></clearfix>
                  </div>
                </div>
              </div><!-- /.images tab -->
              <div class="tab" ng-class="{'active': (selection === 3)}">
                <div class="margin-bottom-10" ng-show="product.attrs && product.attrs.length > 0">
                  <h2 class="page-header">Product Attributes</h2>
                  <div class="form-group border margin-vertical-3 pad-5 bg-light-white" ng-repeat="attr in product.attrs">
                    <div class="pull-right">
                      <span class="text-blue text-small text-underline text-cursor-pointer" ng-click="editCustomAttr(attr);">Edit</span> | 
                      <span class="text-blue text-small text-underline text-cursor-pointer" ng-click="removeCustomAttr(attr);">Delete</span>
                    </div>
                    <div class="product-attr-name">
                      <strong>{{attr.name}}</strong>
                    </div>
                    <div class="product-attr-values">
                      {{attr.values}}
                    </div>
                  </div>
                </div>
                <hr ng-show="product.attrs && product.attrs.length > 0" />
                <div>
                  <h2 class="page-header">Add new attribute</h2>
                  <div class="alert alert-danger" ng-show="errors.attr && errors.attr !== ''">
                    <i class="fa fa-warning"></i>
                    {{errors.attr}}
                  </div>
                  <div class="form-group">
                    <label class="text-cursor-pointer control-label" for="attr_name">Name:</label>
                    <input type="text" name="attr_name" id="attr_name" class="form-control input-sm" ng-model="attr.name" ng-disabled="loading" />
                  </div>
                  <div class="form-group">
                    <label class="text-cursor-pointer control-label" for="attr_values">Value(s):</label>
                    <textarea id="attr_values" name="attr_values" rows="5" cols="30" class="form-control" ng-model="attr.values" ng-disabled="loading"></textarea>
                    <span class="help-block text-normal">
                      Separate values by pipe (|) sign.
                    </span>
                  </div>
                  <div class="form-group">
                    <span class="btn btn-default btn-sm" ng-click="addCustomAttr();">Add Custom Attribute</span>
                  </div>
                </div>
              </div><!-- /.attributes tab -->
              <div class="tab" ng-class="{'active': (selection === 4)}">
                <div class="form-group">
                  <label class="text-cursor-pointer control-label" for="upsells">
                    Up-Sells:
                    <i ng-show="loadingUpsells" class="fa fa-refresh fa-spin"></i>
                  </label>
                  <span class="help-block text-normal">
                    Up Sells are products which you recommend instead of currently viewed product,
                    for example, products that are more profitable or better quality or less expensive.
                  </span>
                  <ui-select multiple  ng-model="product.upsells" ng-disabled="disabled" style="width: 100%;" reset-search-input="true" ng-disabled="loading">
                    <ui-select-match placeholder="Search products">{{$item.title}}</ui-select-match>
                    <ui-select-choices refresh="refreshProducts($select.search)" refresh-delay="0" repeat="product in products track by $index | filter:$select.search">
                      {{product.title}}
                    </ui-select-choices>
                  </ui-select>
                </div>
                <hr class="margin-top-3 margin-bottom-10" />
                <div class="form-group">
                  <label class="text-cursor-pointer control-label" for="crosssells">
                    Cross-Sells:
                    <i ng-show="loadingCrosssells" class="fa fa-refresh fa-spin"></i>
                  </label>
                  <span class="help-block text-normal">
                    Cross sells are products which you promote on the cart based on current product.
                  </span>
                  <ui-select multiple  ng-model="product.crosssells" ng-disabled="disabled" style="width: 100%;" reset-search-input="true" ng-disabled="loading">
                    <ui-select-match placeholder="Search products">{{$item.title}}</ui-select-match>
                    <ui-select-choices refresh="refreshProducts($select.search)" refresh-delay="0" repeat="product in products track by $index | filter:$select.search">
                      {{product.title}}
                    </ui-select-choices>
                  </ui-select>
                  <span class="help-block">
                    <span class="text-small">Enter minimum 3 characters to get suggestions.</span>
                  </span>
                </div>
              </div><!-- /.linked products tab -->
              <div class="tab" ng-class="{'active': (selection === 5)}">
                <div class="row">
                  <div class="col-md-4 col-sm-12 margin-top-5">
                    <div class="alert alert-danger" role="alert" ng-show="(form.slug.$error.required || form.slug.$error.mongoose || form.slug.$error.maxlength) && submitted">
                      <i class="fa fa-warning"></i>
                      <p class="help-block" ng-show="form.slug.$error.mongoose">
                      {{ errors.other }}
                      </p>
                      <p class="help-block"
                         ng-show="(form.slug.$error.required) && (form.slug.$dirty || submitted)">
                        Slug can not be empty.
                      </p>
                      <p class="help-block"
                         ng-show="(form.slug.$error.maxlength) && (form.slug.$dirty || submitted)">
                        Slug must be less than 50 characters.
                      </p>
                    </div>
                    <div class="form-group margin-bottom-1">
                      <span class="text-blue text-cursor-pointer text-small pull-right" ng-click="editSlug=!editSlug;">{{editSlug ? 'Cancel' : 'Edit'}}</span>
                      <label class="text-cursor-pointer control-label" for="slug">Slug:</label>
                      <input type="text" name="slug" class="form-control" id="slug" ng-model="product.slug" placeholder="Slug" ng-maxlength="50" ng-disabled="!editSlug || loading" required />
                      <span class="helper text-small">
                        The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens. <br/>
                        This will be auto generated from product name, so don't edit it unless you really need to do so.
                      </span>
                    </div> <!-- ./slug information -->
                  </div> <!-- ./col-md-4 left side -->
                  <div class="col-md-4 col-sm-12 margin-top-5">
                    <div class="form-group">
                      <input type="checkbox" name="active" id="active" ng-model="product.active" />
                      <label class="text-cursor-pointer control-label" for="active" tooltip="Inactive products are like saved draft. Make product active to be listed on the site. Making product inactive will remove it from the list on site.">Product is {{product.active ? '' : 'in'}}active</label>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" name="featured" id="featured" ng-model="product.featured" />
                      <label class="text-cursor-pointer control-label" for="featured">Product is {{product.featured ? '' : 'not'}} featured</label>
                    </div>
                    <div class="form-group" tooltip="Whether people will be able to search this product or not?">
                      <input type="checkbox" name="searchable" id="searchable" ng-model="product.searchable" ng-disabled="!product.active" />
                      <label class="text-cursor-pointer control-label" for="searchable">Product {{product.searchable ? 'is' : 'is not'}} searchable</label>
                    </div>
                    <div class="form-group margin-bottom-1" tooltip="Whether people will be able to give review about this product or not?">
                      <input type="checkbox" name="reviewEnabled" id="reviewEnabled" ng-model="product.reviewEnabled" ng-disabled="!product.active" />
                      <label class="text-cursor-pointer control-label" for="reviewEnabled">Product {{product.reviewEnabled ? 'is' : 'is not'}} open for review.</label>
                    </div> <!-- ./publishing information -->
                  </div> <!-- ./col-md-4 center -->
                  <div class="col-md-4 col-sm-12 margin-top-5">
                    <div class="form-group margin-bottom-1">
                      <label class="text-cursor-pointer control-label" for="type">Product Type:</label>
                      <div class="btn-group">
                        <label class="btn btn-sm btn-default" btn-radio="1" ng-model="product.productType">
                          Simple
                        </label>
                        <label class="btn btn-sm btn-default" btn-radio="2" ng-model="product.productType" tooltip="Virtual products are intangible and aren't shipped.">
                          Virtual
                        </label>
                        <label class="btn btn-sm btn-default" btn-radio="3" ng-model="product.productType" tooltip="Downloadable products give access to a file upon purchase.">
                          Downloadable
                        </label>
                      </div>
                    </div> <!-- ./product type selection -->
                    <div class="card-body border margin-top-10" collapse="product.productType !== 3">
                      <div class="alert alert-danger" ng-show="errors.download && errors.download !== ''">
                        <i class="fa fa-warning"></i>
                        {{errors.download}}
                      </div>
                      <div class="form-group">
                        <label class="text-cursor-pointer control-label" for="download_files">Downloadable Files:</label><br/>
                        <div ng-repeat="file in product.files.items" class="btn-primary display-block pad-5 margin-bottom-5">
                          <zfile></zfile>
                          <i tooltip="remove" class="fa fa-trash pull-right text-cursor-pointer" ng-click="removeFile(file);"></i>
                          <clearfix></clearfix>
                        </div>
                        <span class="btn btn-default btn-sm" ng-click="openFileUploder()">Add Files</span>
                      </div>
                      <div class="form-group">
                        <label class="text-cursor-pointer control-label" for="download_limit">Download Limit:</label>
                        <input type="number" name="download_limit" id="download_limit" ng-model="product.files.limits" placeholder="Unlimited" class="form-control input-sm" only-digits />
                        <span class="help-block text-normal">
                          Enter number of downloads allowed to user after purchase or leave blank for unlimited re-downloads.
                        </span>
                      </div>
                      <div class="form-group margin-bottom-1">
                        <label class="text-cursor-pointer control-label" for="download_expiry">Download Expiry:</label>
                        <input type="number" name="download_expiry" id="download_expiry" ng-model="product.files.expiry" placeholder="Never" class="form-control input-sm" only-digits />
                        <span class="help-block text-normal">
                          Enter number of days before a download links expires, or leave blank for never expiring links.
                        </span>
                      </div>
                    </div> <!-- ./downloadable product type form -->
                  </div> <!-- ./col-md-4 righ side -->
                </div> <!-- ./exta row -->
              </div><!-- /.extra tab -->
            </div><!-- /.tab-contents -->
          </div> <!-- ./tabs-holder -->
        </div> <!-- ./col-md-12 left side -->
      </div> <!-- ./row -->
    
    </div><!-- ./card-body -->
    <div class="card-footer">
      <button class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
