<div class="card card-solid card-info login-box" ng-controller="LoginCtrl">
  <div class="card-header">
    <h3 class="card-title">Login</h3>
  </div>
  <form class="form" name="form" ng-submit="login(form)" novalidate>
    <div class="card-body">
      <div class="login-notice">
        If you have an account with us, please log in.
      </div>
      <div class="form-group">
        <div class="alert alert-danger" role="alert" ng-show="!form.$valid && submitted">
          <i class="fa fa-warning"></i>
          <p class="help-block" ng-show="form.email.$error.required && submitted">
             Please enter your email address.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email address.
          </p>
          <p class="help-block" ng-show="form.password.$error.required && submitted">
             Please enter your password.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.email.$valid && submitted,
                                            'has-error': form.email.$invalid && submitted }">
        <label for="login_username">Email address</label>
        <input type="email" class="form-control" name="email" id="login_username" placeholder="Enter email address" ng-model="user.email" required>
      </div>
      <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
        <label for="login_password">Password</label>
        <input type="password" class="form-control" name="password" id="login_password" placeholder="Password" ng-model="user.password" required>
      </div>
      <div class="form-group">
        <p class="pull-right"><a class="text-muted" title="Recover your forgotten password" href="/forgotPassword">Forgot your password? </a></p>
        <input type="checkbox" name="remember_me" id="login_remember_me">
        <label for="login_remember_me" class=""> Remember me </label>
      </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success btn-sm"><i class="fa fa-sign-in"></i> Let me In</button>
      <span class="pull-right">
        <a class="text-muted" href="/signup">
          Register <i class="fa fa-angle-double-right"></i>
        </a>
      </span>
    </div>
    <div class="card-footer text-center">
      - OR -
      <div class="login-social">
        <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
          <i class="fa fa-facebook"></i> Connect with Facebook
        </a>
        <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
          <i class="fa fa-google-plus"></i> Connect with Google+
        </a>
        <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
          <i class="fa fa-twitter"></i> Connect with Twitter
        </a>
      </div>
    </div>
  </form>
</div>

<!--
login dialog usage
<zdialog visible="showLoginDialog" header="" contentclass="login-modal-content">
  <login></login>
</zdialog>
-->
