.login-box {
	margin-bottom: 0px !important;

	.login-notice {
		margin-bottom: 10px;
	}

	label {
		font-weight: 400;
	}

	.alert {
		margin-top: 20px;
	}
}

.login-modal-content {
	.modal-body {
		padding: 0px;
	}
}