<div class="margin-vertical-10 category-form">
  <tabset>
    <tab heading="Upload Image">
      <div class="form-group relative-position icons-grid">
        <div class="margin-top-5 help-block text-normal pull-right">
          You can select the uploaded images from "Select from Images" tab.
        </div>
        <input type="file" nv-file-select uploader="uploader" multiple/>
        <div class="row margin-top-10 icons-grid no-border">
          <div class="col-md-2 col-sm-4" ng-repeat="item in uploader.queue" ng-hide="item.isSuccess || item.isFail">
            <div class="border pad-5 relative-position text-center">
              <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-show="item.isUploading">
                <i class="fa fa-times fa-fw"></i>
              </button>
              <div class="margin-top-10" ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 64, width: 64 }"></div>
              <div class="select-image-overlay text-cursor-pointer" ng-hide="item.isSuccess || item.isFail">
                <div class="select-image-overlay-content progress" style="margin-bottom: 0;width: 90%;">
                  <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Select from Icons">
      <div class="form-group relative-position">
        <div class="icons-grid">
          <div class="btn-group">
            <label class="btn btn-mini btn-info" data-ng-repeat="icon in icons" tooltip="{{icon.replace('fa-','').replace('-o','')}}" btn-radio="icon" ng-model="media.icon" uncheckable>
              <i class="fa {{icon}} fa-fw"></i>
            </label>
          </div>
        </div>
      </div>
    </tab>
    <tab heading="Select from Images">
      <div class="form-group relative-position">
        <div class="icons-grid image-grid">
          <div class="btn-group">
            <label class="btn btn-mini btn-default" data-ng-repeat="icon in images" btn-radio="icon" ng-model="media.image" uncheckable>
              <img src="{{publicFolderPath}}{{icon}}" width="64" height="64" />
            </label>
          </div>
        </div>
      </div>
    </tab>
  </tabset>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 border-top pad-top-10">
    <button class="btn btn-success">Select</button>
    <button class="btn btn-danger">Cancel</button>
  </div>
</div>