<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
  	<div class="row well text-left">
			<div class="col-md-2 col-sm-4">
				<h4>Information</h4>
				<ul>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact Us</a></li>
					<li><a href="#">Site Map</a></li>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms & Conditions</a></li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-4">
				<h4>My Account</h4>
				<ul>
					<li><a href="/my">Account</a></li>
					<li><a href="/my/orders">Orders</a></li>
					<li><a href="/my/wishlist">Wishlist</a></li>
					<li><a href="/my/subscription">Subscription</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h4>Customer Service</h4>
				<ul>
					<li><a href="#">Delievery Information</a></li>
					<li><a href="#">Returns</a></li>
					<li><a href="#">Newsletter</a></li>
				</ul>
			</div>
			<div class="col-md-3 col-sm-4">
				<h4>Get Our Newsletter</h4>
				<form>
					<div class="form-group">
						<div>Subscribe to our newsletter to get exclusive deals straight to your inbox!</div>
						<input name="email_scbscribe" placeholder="Your Email" class="form-control flat" />
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-success">Subscribe</button>
					</div>
				</form>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="row">
					<div class="col-md-12">
						<h4>Follow Us</h4>
						<div class="social-links">
		          <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
		          <a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
		          <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
		        </div>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-md-12">
						<h4>Secure Pay With</h4>
						<div class="social-links">
		          <i class="fa fa-paypal"></i>
		          <i class="fa fa-google-wallet"></i>
		          <i class="fa fa-cc"></i>
		          <i class="fa fa-cc-visa"></i>
		          <i class="fa fa-cc-mastercard"></i>
		        </div>
					</div>
				</div>
			</div>
		</div>
  </div>
  <div class="container">
  	<p>Zesty v0.0.1 |
        <a href="https://twitter.com/harshraval9">@harshraval9</a> |
         2014</p>
  </div>
</footer>