<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="account_header">
        <i class="fa fa-credit-card"></i> My Saved Card
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="well" ng-show="cards.length == 0">
        Making payments on <strong>{{siteName}}</strong> just got better!
        Use saved cards and place your order in a flash.
        It's extremely convenient and completely secure.
      </div>
      
      <div class="box box-solid box-warning" ng-show="cards.length == 0">
        <div class="box-header">
          <h3 class="box-title">We store only things that are not harmful</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <h5>DO Store:</h5>
              <ul>
                <li>Card Number</li>
                <li>Card Holder Name</li>
                <li>Card Expiry Date</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>DO NOT Store:</h5>
              <ul>
                <li>CVV Number</li>
                <li>Password</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="box box-solid" ng-repeat="card in cards">
        <div class="box-body">
          <i class="fa fa-fw" ng-class="{'fa-cc-visa': (card.type==1), 'fa-cc-mastercard': (card.type==2), 'fa-cc': (card.type==0)}"></i>
          {{card.number}} - {{card.name}} (<strong>{{card.label}}</strong>)
          <div class="pull-right text-normal">
            <a href="#" ng-click="openEdit(card)">Edit</a> | <a href="#">Delete</a>
          </div>
        </div>
      </div>

      <div class="box box-solid security-guarantee-box" ng-show="cards.length == 0">
        <div class="row box-body">
          <div class="col-md-9 col-sm-9">
            <h5 class="page-header">100% Security Guaranteed</h5>
            Your card details will be stored using world-class encryption technology
            Our payment system is PCI DSS certified (a highly stringent data security standard followed 
            by VISA, MasterCard and Amex)
          </div>
          <div class="col-md-3 col-sm-3 text-right">
            <img src="../../../assets/images/shopping_bag.png" height="128" width="128" />
          </div>
        </div>
      </div>

      <button class="btn btn-default btn-flat" ng-click="showAddForm=!showAddForm" collapse="showAddForm">Add new card</button>

      <div class="box box-warning" collapse="!showAddForm">
        <div class="box-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="number" class="col-sm-2 control-label">Card Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="number" placeholder="Card Number" ng-model="newCard.number">
              </div>
            </div>
            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Name on card</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name on card" ng-model="newCard.name">
              </div>
            </div>
            <div class="form-group">
              <label for="expiryDate" class="col-sm-2 control-label">Expiry Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="expiryDate" placeholder="MM / YY" ng-model="newCard.expiryDate">
              </div>
            </div>
            <div class="form-group">
              <label for="label" class="col-sm-2 control-label">Give a Label</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="label" placeholder="Give your card a label" ng-model="newCard.label">
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="submit" class="btn btn-danger" ng-click="showAddForm=!showAddForm;newCard={};">Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div> <!-- end of row -->
</div>