<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="account_header">
        <i class="fa fa-credit-card"></i> My Saved Card
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="well" ng-show="!user.cards || user.cards.length == 0">
        Making payments on <strong>{{siteName}}</strong> just got better!
        Use your saved cards and place your order in a flash.
        It's extremely convenient and completely secure.
      </div>
      
      <div class="box box-solid box-warning" ng-show="!user.cards || user.cards.length == 0">
        <div class="box-header">
          <h3 class="box-title">We store only things that are not harmful</h3>
        </div>
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <h5>DO Store:</h5>
              <ul>
                <li>Card Number</li>
                <li>Card Holder Name</li>
                <li>Card Expiry Date</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>DO NOT Store:</h5>
              <ul>
                <li>CVV Number</li>
                <li>Password</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="box box-solid" ng-repeat="card in user.cards">
        <div class="box-body">
          <i class="fa fa-fw" ng-class="{'fa-cc-visa': (card.cardType==1), 'fa-cc-mastercard': (card.cardType==2), 'fa-cc': (card.cardType==0)}"></i>
          {{card.cardNumber}} - {{card.name}} (<strong>{{card.label}}</strong>)
          <div class="pull-right text-normal">
            <a href="#" ng-click="openEdit(card)">Edit</a> | <a href="#" ng-click="deleteCard(card._id)">Delete</a>
          </div>
        </div>
      </div>

      <div class="box box-solid security-guarantee-box" ng-show="!user.cards || user.cards.length == 0">
        <div class="row box-body">
          <div class="col-md-9 col-sm-9">
            <h5 class="page-header">100% Security Guaranteed</h5>
            Your card details will be stored using world-class encryption technology
            Our payment system is PCI DSS certified (a highly stringent data security standard followed 
            by VISA, MasterCard and Amex)
          </div>
          <div class="col-md-3 col-sm-3 text-right">
            <img src="../../../assets/images/shopping_bag.png" height="128" width="128" />
          </div>
        </div>
      </div>

      <button class="btn btn-default btn-flat" ng-click="showAddForm=!showAddForm" collapse="showAddForm">Add new card</button>

      <div class="box box-warning" collapse="!showAddForm">
        <div class="box-body">
          <form class="form-horizontal" name="form" role="form" ng-submit="addNewCard(form)" novalidate>
            <div class="">
              <h2 class="page-header">
                {{formTitle}}
              </h2>
            </div>
            <div class="">
              <div class="alert alert-danger" role="alert" ng-show="!form.$valid && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block" ng-show="form.cardNumber.$error.required && submitted">
                   Card number is required.
                </p>
                <p class="help-block" ng-show="form.cardNumber.$error.minlength && submitted">
                   Card number must be at least 16 characters long.
                </p>
                <p class="help-block" ng-show="form.cardName.$error.required && submitted">
                   Name is required.
                </p>
                <p class="help-block" ng-show="form.expiryDate.$error.required && submitted">
                   Expiry date is required.
                </p>
                <p class="help-block" ng-show="form.expiryDate.$error.minlength && submitted">
                   Expiry date must be at least 4 characters long.
                </p>
                <p class="help-block" ng-show="form.cardLabel.$error.required && submitted">
                   Card label is required.
                </p>
                <p class="help-block" ng-show="form.cardType.$error.required && submitted">
                   Card type is required.
                </p>
                <p class="help-block">{{ errors.other }}</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.cardNumber.$valid && submitted, 'has-error': form.cardNumber.$invalid && submitted }">
              <label for="number" class="col-sm-2 control-label">Card Number</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="cardNumber" id="number" placeholder="Card Number" ng-model="newCard.cardNumber" ng-minlength="16" required input-mask="'mask'" mask-option="{'mask': '9999-9999-9999-9999'}" ng-disabled="showLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.cardName.$valid && submitted, 'has-error': form.cardName.$invalid && submitted }">
              <label for="name" class="col-sm-2 control-label">Name on card</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="cardName" id="name" placeholder="Name on card" ng-model="newCard.name" required ng-disabled="showLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.expiryDate.$valid && submitted, 'has-error': form.expiryDate.$invalid && submitted }">
              <label for="expiryDate" class="col-sm-2 control-label">Expiry Date</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="expiryDate" id="expiryDate" placeholder="MM/YY" ng-model="newCard.expiryDate" ng-minlength="4" required input-mask="'mask'" mask-option="{'mask': '99/99'}" ng-disabled="showLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.cardLabel.$valid && submitted, 'has-error': form.cardLabel.$invalid && submitted }">
              <label for="label" class="col-sm-2 control-label">Give a Label</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="cardLabel" id="label" placeholder="Give your card a label" ng-model="newCard.label" required ng-disabled="showLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': form.cardType.$valid && submitted, 'has-error': form.cardType.$invalid && submitted }">
              <label for="label" class="col-sm-2 control-label">Card Type</label>
              <div class="col-sm-10">
                <select ng-model="newCard.cardType" class="form-control" name="cardType" required ng-disabled="showLoader" >
                  <option ng-repeat="type in cardTypes" value="{{type.val}}">{{type.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ui-ladda="showLoader" data-style="slide-left" class="ladda-button btn btn-success btn-sm" data-spinner-color="#646678"><span class="ladda-label"> Submit</span></button>
                <a type="submit" class="btn btn-danger btn-sm" ng-click="closeAddForm()">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div> <!-- end of row -->
</div>