$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/account.scss';
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'authentication/authentication.scss';
@import 'cart/cart.scss';
@import 'category/category.scss';
@import 'checkout/checkout.scss';
@import 'dashboard/dashboard.scss';
@import 'deals/deals.scss';
@import 'directives/address/address.scss';
@import 'directives/login/login.scss';
@import 'directives/orderInvoice/orderInvoice.scss';
@import 'directives/orderSummary/orderSummary.scss';
@import 'directives/owlCarosel/owlCarosel.scss';
@import 'directives/product/product.scss';
@import 'directives/register/register.scss';
@import 'directives/zdialog/zdialog.scss';
@import 'main/main.scss';
@import 'new/new.scss';
@import 'product/product.scss';
@import 'shared/appmixins/_component-mixins.scss';
@import 'shared/appmixins/_mixins.scss';
@import 'shared/basic/_vars.scss';
@import 'shared/basic/_vcore.scss';
@import 'shared/modules/_alerts.scss';
@import 'shared/modules/_box.scss';
@import 'shared/modules/_buttons.scss';
@import 'shared/modules/_callouts.scss';
@import 'shared/modules/_learn.scss';
@import 'shared/modules/_messages.scss';
@import 'shared/modules/_navigation.scss';
@import 'shared/modules/_product.scss';
@import 'shared/modules/_progress-bars.scss';
@import 'shared/modules/_sidebar.scss';
@import 'shared/modules/_small-box.scss';
@import 'shared/pages/_error.scss';
@import 'shared/pages/_login.scss';
@import 'shared/pages/_navbar.scss';
@import 'shared/pages/_offer-modal.scss';
@import 'modal/modal.scss';
// endinjector