<div class="navbar navbar-default navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img class="nav-bar-logo" title="{{appName}}" alt="{{appName}}" src="../../assets/images/shopping_bag.png" /></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <!--<li ng-show="isLoggedIn()" ng-class="{active: isActive('/dashboard')}"><a href="/dashboard">Dashboard</a></li>-->
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ng-repeat="category in categories"><a href="/category/{{category._id}}">{{category.name}}</a></li>
          </ul>
        </li>
        <li ng-class="{active: isActive('/cart')}">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-shopping-cart"></i><span class="badge text-muted" style="background-color: transparent;" ng-show="cart.products.length > 0">{{cart.products.length}}</span></a>
            <div class="dropdown-menu cart-dropdown">
              <div class="body">
                <cart-popup-item ng-repeat="item in cart.products"></cart-popup-item>
              </div> <!--/.body-->
              <div class="cart-footer" ng-hide="cart.products.length > 0">
                <h4>There are no items in your cart.</h4>
              </div>
              <div class="cart-footer text-right" ng-show="cart.products.length > 0">
                <h3 class="text-right subtotal"> Subtotal: {{cart.currency}} {{cart.subTotal}} </h3>
                <a href="/cart" class="btn btn-sm btn-danger">
                  <i class="fa fa-shopping-cart"> </i> VIEW CART
                </a>
                <a href="/auth" class="btn btn-sm btn-primary"> CHECKOUT </a> 
              </div>
              <!--/.footer--> 
            </div>
        </li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
        <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActiveMultiple(['/my'])}"><a href="/my"><span class="fa fa-cog"></span></a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>