@import 'shared/appmixins/_mixins.scss';

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #649614;
  margin-bottom: 25px;
}

.social-links {

  .social-link {
    display: block;
    float: left;
    background: #FFF;
    width: 30px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    border: 1px solid #DDD;
    text-align: center;
    margin-right: 5px;
    color: #347e92;
    @include border-radius(50%); 

    &:hover {
      background: #347e92;
      color: #FFF;
    }
  }

  &.flat {

    .social-link {
      @include border-radius(0);
    }
  }
}

.footer {
  text-align: center;
  padding: 10px 0 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;

  ul {
    padding-left: 10px;
    list-style: none;
  }

  .footer_divider {
    border-top-color: #afafaf !important;
  }

  h1, h2, h3, h4 {
    border-bottom: 1px solid #ccc;
  }
}

.slider-lg {
  height: auto;
  margin-bottom: 10px;
  
  img {
    margin: 0 auto;
  }
}

.featureImg {
  a {
    display: block;
    overflow: hidden;

    img {
      @include transitions(all 0.4s ease 0s);

      &:hover {
        @include transform(scale(1.15) rotate(-1.1deg));
      }
    }
  }
}
