.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
  
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #649614;
  margin-bottom: 25px;
}

.social-links {

  .social-link {
    display: block;
    @extend .pull-left;
    background: $white;
    @include square(30px);
    overflow: hidden;
    line-height: 30px;
    border: 1px solid $dim-gray;
    text-align: center;
    @extend .margin-right-5;
    color: #347e92;
    @include border-radius(50%); 

    &:hover {
      background: #347e92;
      color: $white;
    }
  }

  &.flat {

    .social-link {
      @include border-radius(0);
    }
  }
}

.footer {
  text-align: center;
  padding: 10px 0 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;

  ul {
    @extend .pad-left-10;
    list-style: none;
  }

  .footer_divider {
    border-top-color: #afafaf !important;
  }

  h1, h2, h3, h4 {
    border-bottom: 1px solid $dim-gray;
  }
}

.slider-lg {
  height: auto;
  @extend .margin-bottom-10;
  
  img {
    margin: 0 auto;
  }
}

.banner-img {
  height: 250px;
  max-height: 250px;
  min-height: 250px;
}

.featured-img {
  height: auto;
  position: relative;

  a {
    display: block;
    overflow: hidden;

    img {
      width: 100%;
      height: 150px;
      @include transitions(all 0.4s ease 0s);
    }
  }

  .featured-item-name {
    position: absolute;
    top: 40%;
    display: block;
    font-size: $font-size-large;
    @include opacity(0);
    @include transitions(all 0.4s ease 0s);
    background: $white;
    color: $black;
    text-align: center;
    width: 90%;
  }

  &:hover {

    a {

      img {
        @include transform(scale(1.15) rotate(-1.1deg));
      }
    }

    .featured-item-name {
      @include opacity(1);
    }
  }
}

.no-more-items {
  background-color: $dim-gray;
  width: 300px;
  margin: 0px auto 10px;
  float: none;
  @extend .pad;
}
