<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Zesty</h1>
    <p class="lead">One stop destination for e-commerce in node!</p>
    <img src="assets/images/shopping_bag.png" alt="Zesty Logo">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <h3>Categories</h3>
      <div class="list-group">
        <a ng-repeat="category in categories" href="/category/{{category._id}}" class="list-group-item">{{category.name}}</a>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="row">
        <div ng-repeat="item in items" class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="{{item.mainImage}}" alt="{{item.title}}">
            <div class="add-to-cart">
              <a href="{{item.link}}" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
            </div>
            <div class="caption">
              <h4 class="pull-right">{{item.price}}</h4>
              <h4><a href="{{item.link}}">{{item.title}}</a>
              </h4>
              <p>{{item.description}}</p>
              <div class="ratings">
                <p class="pull-right"><a href="{{item.link}}#comments">{{item.reviews}} reviews</a></p>
                <p>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                  <span class="glyphicon glyphicon-star"></span>
                </p>
                <p>
                  <span class="glyphicon glyphicon-tags"></span>
                  <span ng-repeat="category in item.categories"><a href="/category/{{category._id}}">{{category.name}}</a></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
