<!--header class="hero-unit" id="banner">
  <div class="container">
    <h1>Zesty</h1>
    <p class="lead">One stop destination for e-commerce in node!</p>
    <img src="assets/images/shopping_bag.png" alt="Zesty Logo">
  </div>
</header-->

<div class="container">
  <div class="slider-lg">
    <carousel interval="5000">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3">
      <h3>Categories</h3>
      <div class="list-group">
        <a ng-repeat="category in categories" href="/category/{{category._id}}" class="list-group-item">{{category.name}}</a>
      </div>
    </div>
    <div class="col-sm-8 col-md-9">
      <div class="row">
        <product ng-repeat="item in items"/>
      </div>
      <div class="row">
        <div class="load-more-block text-center"> <button ui-ladda="loading" data-style="zoom-in" class="btn btn-thin ladda-button" href="#" ng-click="loading=!loading" data-spinner-color="#646678"> <span class="ladda-label"><i class="fa fa-plus-sign">+</i> load more products</span></button> </div>
      </div>
    </div> 
  </div>
  <hr/>
  <h2>Featured</h2>
  <div class="row featureImg">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a href="#"><img src="assets/images/750x400.gif" class="img-responsive" alt="img"></a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a href="#"><img src="assets/images/750x400.gif" class="img-responsive" alt="img"></a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a href="#"><img src="assets/images/750x400.gif" class="img-responsive" alt="img"></a>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-6">
      <a href="#"><img src="assets/images/750x400.gif" class="img-responsive" alt="img"></a>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <h2>Popular brands</h2>
      <owl-carosel />
    </div>
  </div>
</div>

<zdialog visible="showSignupOffer" header="" contentclass="offer-box signup-offer-box">
  <div class="row">
    <div class="col-lg-8 col-sm-10 col-xs-10">
      <h3 class="header">Sign up and get</h3>
      <p class="discount">15% Off</p>
      <p>Sign up and receive 15% discount. Use coupon code sent to your mail.</p>
      <form id="subscribe">
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-info" type="button">Sign up</button>
          </span>
        </div>
      </form>
      <div class="shoplink">
        <a href="/" class="link" data-dismiss="modal"> 
          Not interested :( 
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-2 col-xs-2">
      &nbsp;
    </div>
  </div>
</zdialog>