<!-- Main content -->
<section class="content" ng-show="!productGetError">
  <div class="card card-info">
    <div class="card-header">
      <h1 class="card-title">{{itemDetails.title}}</h1>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4">
          <div class='row'>
            <div class="col-md-12 col-sm-12">
              <div class="thumbnail img-responsive" image-src="{{largeImageSrc}}" image-zoom data-template-url="app/product/image-zoom.html"></div>
            </div>
            <div class="col-md-2 col-sm-4">
              <img src="{{itemDetails.mainImage}}" ng-click="displayLargeImg(itemDetails.mainImage);" class="thumbnail img-responsive text-cursor-pointer" />
            </div>
            <div class="col-md-2 col-sm-4" ng-repeat="img in itemDetails.images">
              <img src="{{img}}" ng-click="displayLargeImg(img);" class="thumbnail img-responsive text-cursor-pointer" />
            </div>
          </div>
        </div> <!-- image col end -->
        <div class="col-sm-8">
          <span ng-switch="isMyFav" class="pull-right">
            <button tooltip="Add to Wishlist" ng-switch-when="false" class="btn btn-default btn-circle add-to-fav" ng-click="addToFavorite()"><i class="fa fa-star"></i></button>
            <button tooltip="Remove from Wishlist" ng-switch-when="true" class="btn btn-warning btn-circle" ng-click="removeFavorite()"><i class="fa fa-star"></i></button>
          </span>
          <h2>
            {{itemDetails.currency}} {{itemDetails.price}}
          </h2>
          <p>{{itemDetails.description}}</p>
          <form role="form">
            <hr/>
            <div class="number form-group" ng-hide="addedToCart">
              <label class="control-label" for="number">Quantity:</label>
              <div class="input-group" style="width:100px">
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" type="button" ng-click="decreaseQty();" ng-disabled="itemDetails.qty === 1">
                    <i class="fa fa-minus"></i>
                  </button>
                </span>
                <input type="text" class="form-control input-sm flat text-center" id="number" value="1" ng-model="itemDetails.qty" ng-disabled="true" />
                <span class="input-group-btn">
                  <button class="btn btn-sm btn-default" type="button" ng-click="increaseQty();">
                    <i class="fa fa-plus"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="number form-group" ng-show="addedToCart">
              <strong>{{itemDetails.title}}</strong> is in your cart with <strong>{{itemDetails.qty}}</strong> quantity.
            </div>
            <div class="form-group">
              <button class="btn btn-default btn-flat" ng-click="addToCart(itemDetails);" ng-hide="addedToCart">
                Add to Cart
              </button>
              <a href="/cart" class="btn btn-primary btn-flat" ng-show="addedToCart">
                <span class="text-normal"><i class="fa fa-shopping-cart"></i> Go to Cart</span>
              </a>
              <a href="/write-review/{{itemDetails._id}}" class="btn btn-default btn-flat">Write a Review</a>
            </div>
            <div class="form-group">
              <label ng-show="itemDetails.suppliers && itemDetails.suppliers.length > 0">Suppliers:</label>
              <ul>
                <li ng-repeat="supplier in itemDetails.suppliers"><u>{{supplier.name}}</u> at {{supplier.price}} (<i class="fa fa-clock-o"></i> {{supplier.shippingTime}})</li>
              </ul>
            </div>
            <div class="form-group">
              <label>Share:</label>
              <div class="social-links flat text-medium">
                <a href="#" tooltip="Tweet this product" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                <a href="#" tooltip="Share this product on Google+" class="btn btn-danger btn-circle"><i class="fa fa-google-plus"></i></a>
                <a href="#" tooltip="Post this product on Facebook" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="description">
        {{itemDetails.summary}}
      </div>
    </div>
  </div>
  

  <h2 class="page-header">Reviews</h2>
  <div class="row" id="comments" ng-show="!productReviewGetError">
    <div class="col-md-12">

      <div class="card card-solid">
        <div class="card-body">
          <div class="row review-list-summary-box">
            <div class="col-md-4 col-sm-6 review-list-summary">
              <div class="ratings">
                <h4 class="page-header">Rating of {{itemDetails.title}}</h4>
                <p>Average rating based on {{itemDetails.reviewsCount}} ratings:</p>
                <p class="text-big">
                  {{itemDetails.rating}} stars <br/>
                  <rating ng-model="itemDetails.rating" readonly="true" />
                </p>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 review-list-summary">
              <h4 class="page-header">Reviews</h4>
              <review-progress-bars first="{{first}}" two="{{two}}" three="{{three}}" four="{{four}}" five="{{five}}"></review-progress-bars>
            </div>

            <div class="col-md-4 col-sm-6 review-list-summary">
              <div class="add-review-rate-box">
                <h4 class="page-header">Have you used this product?</h4>
                <span class="text-medium">Rate it now:</span><br/>
                <rating ng-model="newRating" readonly="false" class="text-big" /><br/>
                <a href="/write-review/{{itemDetails._id}}?rate={{newRating}}" class="btn btn-default btn-flat">Rate & Write a review <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <div class="col-md-9 col-sm-12">
      <review-box ng-repeat="review in itemReviews" review="review" is-logged-in="{{loggedIn}}" customer-id="{{customerId}}"></review-box>
      <div class="col-md-12 col-sm-12 text-center">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="3" ng-change="pageChanged()"></pagination>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <div class="card card-solid card-black review-list-box">
        <div class="card-header">
          <h3 class="card-title">Filter Reviews:</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a href="/product-reviews/{{itemDetails._id}}/4"><i class="fa fa-angle-double-right"></i> 4 and 5 stars rated reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="/product-reviews/{{itemDetails._id}}/2"><i class="fa fa-angle-double-right"></i> 3 and 2 stars rated reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="/product-reviews/{{itemDetails._id}}/1"><i class="fa fa-angle-double-right"></i> 1 star rated reviews</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="product-no-review-box card card-solid" ng-show="productReviewGetError">
    <div class="card-body">
      <p>
        No one has reviewed this product yet.
        Be the first one to write a review about this product.
      </p>
      <span class="text-medium">Rate it now:</span><br/>
      <rating ng-model="newRating" readonly="false" class="text-big" /><br/>
      <a href="/write-review/{{itemDetails._id}}?rate={{newRating}}" class="btn btn-default btn-flat">
        Rate & Write a review <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>

  <hr><hr>
  <h2>Related Products</h2>
  <div class="row" ng-show="!productRelatedGetError">
    <product ng-repeat="item in items" small='true'/>
  </div>
  <div class="container" ng-show="productRelatedGetError">
    <br>
    <div class="alert alert-warning">
      <i class="fa fa-info"></i>
      This is a unique product. <br/> No related product found for this product.
    </div>
  </div>
</section>

<section class="content container" ng-show="productGetError">
  <div class="row">
    <div class="alert alert-danger">
      <i class="fa fa-warning"></i>
      No product found for provided details. Please go back to <a class="alert-link" href="/">Home</a> page and look for other awesome products.
    </div>
  </div>
</section>