<!-- Main content -->
<section class="content" ng-show="!productGetError">
  <div class="box box-info">
    <div class="box-header">
      <h1 class="box-title">{{itemDetails.title}}</h1>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4">
          <div class='row'>
            <div class="col-md-12 col-sm-12">
              <div class="thumbnail img-responsive" image-src="{{largeImageSrc}}" image-zoom data-template-url="app/product/image-zoom.html"></div>
            </div>
            <div class="col-md-2 col-sm-4">
              <img src="{{itemDetails.mainImage}}" ng-click="displayLargeImg(itemDetails.mainImage);" class="thumbnail img-responsive text-cursor-pointer" />
            </div>
            <div class="col-md-2 col-sm-4" ng-repeat="img in itemDetails.images">
              <img src="{{img}}" ng-click="displayLargeImg(img);" class="thumbnail img-responsive text-cursor-pointer" />
            </div>
          </div>
        </div> <!-- image col end -->
        <div class="col-sm-8">
          <h4 class="pull-right">{{itemDetails.price}}</h4>
          <p>{{itemDetails.description}}</p>
          <form role="form">
              <div class="number form-group">
                <label class="control-label" for="number">Quantity:</label>
                <input type="number" class="form-control input-sm flat" id="number" value="1" />
              </div>
              <div class="form-group">
                <label ng-show="itemDetails.suppliers && itemDetails.suppliers.length > 0">Suppliers:</label>
                <ul>
                  <li ng-repeat="supplier in itemDetails.suppliers"><u>{{supplier.name}}</u> at {{supplier.price}} (<i class="fa fa-clock-o"></i> {{supplier.shippingTime}})</li>
                </ul>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-flat">Add to Cart</button>
                <button type="submit" class="btn btn-default btn-flat">Add to Wishlist</button>
                <a href="/write-review/{{itemDetails.id}}" class="btn btn-default btn-flat">Write a Review</a>
              </div>
              <div class="form-group">
                <label>Share:</label>
                <div class="social-links flat text-medium">
                  <a href="#" class="social-link"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="social-link"><i class="fa fa-google-plus"></i></a>
                  <a href="#" class="social-link"><i class="fa fa-facebook"></i></a>
                </div>
              </div>
            </form>
          </div>
      </div>
      <div class="description">
        {{itemDetails.summary}}
      </div>
    </div>
  </div>
  

  <h2 class="page-header">Reviews</h2>
  <div class="row" id="comments" ng-show="!productReviewGetError">
    <div class="col-md-12">

      <div class="box box-solid">
        <div class="box-body">
          <div class="row review-list-summary-box">
            <div class="col-md-4 col-sm-6 review-list-summary">
              <div class="ratings">
                <h4 class="page-header">Rating of {{itemDetails.title}}</h4>
                <p>Average rating based on {{itemDetails.reviewsCount}} ratings:</p>
                <p class="text-big">
                  {{itemDetails.rating}} stars <br/>
                  <rating ng-model="itemDetails.rating" readonly="true" />
                </p>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 review-list-summary">
              <h4 class="page-header">Reviews</h4>
              <review-progress-bars first="{{first}}" two="{{two}}" three="{{three}}" four="{{four}}" five="{{five}}"></review-progress-bars>
            </div>

            <div class="col-md-4 col-sm-6 review-list-summary">
              <div class="add-review-rate-box">
                <h4 class="page-header">Have you used this product?</h4>
                <span class="text-medium">Rate it now:</span><br/>
                <rating ng-model="newRating" readonly="false" class="text-big" /><br/>
                <a href="/write-review/{{itemDetails.id}}?rate={{newRating}}" class="btn btn-default btn-flat">Rate & Write a review <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr/>

    <div class="col-md-9 col-sm-12">
      <review-box ng-repeat="review in itemReviews" review="review" is-logged-in="{{loggedInNow}}" customer-id="{{customerId}}"></review-box>
      <div class="col-md-12 col-sm-12 text-center">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="3" ng-change="pageChanged()"></pagination>
      </div>
    </div>
    
    <div class="col-md-3 col-sm-6">
      <div class="box box-solid box-black review-list-box">
        <div class="box-header">
          <h3 class="box-title">Filter Reviews:</h3>
        </div>
        <div class="box-body">
          <ul class="list-unstyled">
            <li><a href="#"><i class="fa fa-angle-double-right"></i> 4 and 5 stars rated certified buyer reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> 3 and 2 stars rated certified buyer reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="#"><i class="fa fa-angle-double-right"></i> 1 star rated certified buyer reviews</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="product-no-review-box box box-solid" ng-show="productReviewGetError">
    <div class="box-body">
      <p>
        No one has reviewed this product yet.
        Be the first one to write a review about this product.
      </p>
      <span class="text-medium">Rate it now:</span><br/>
      <rating ng-model="newRating" readonly="false" class="text-big" /><br/>
      <a href="/write-review/{{itemDetails.id}}?rate={{newRating}}" class="btn btn-default btn-flat">
        Rate & Write a review <i class="fa fa-angle-double-right"></i>
      </a>
    </div>
  </div>

  <hr><hr>
  <h2>Related Products</h2>
  <div class="row" ng-show="!productRelatedGetError">
    <product ng-repeat="item in items" small='true'/>
  </div>
  <div class="container" ng-show="productRelatedGetError">
    <br>
    <div class="alert alert-warning">
      <i class="fa fa-info"></i>
      This is a unique product. <br/> No related product found for this product.
    </div>
  </div>
</section>

<section class="content container" ng-show="productGetError">
  <div class="row">
    <div class="alert alert-danger">
      <i class="fa fa-warning"></i>
      No product found for provided details. Please go back to <a class="alert-link" href="/">Home</a> page and look for other awesome products.
    </div>
  </div>
</section>