.add-to-cart {
  text-align: center;
  font-size: 32px;
  padding: 0;
  margin: 0;
  height: 8px;
  position: relative;

  a {
    background: #fff;
    top: -18px;
    border-radius: 16px;

    &:hover {
      text-decoration: none;
    }
  }
}

.thumbnails {
  margin-top: 20px;
  margin-bottom: 20px;
}

.number {
  clear: both;
  min-height: 30px;

  label {
    float: left;
    margin-right: 5px;
    margin-top: 5px;
  }

  input {
    display: inline-block;
    width: 20%;
  }
}