<div ng-include="'components/navbar/navbar.html'"></div>
<!-- Main content -->
<section class="content">
	<h1>Featured</h1>
	<div class="row">
		<div ng-repeat="item in items" class="col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="http://placehold.it/750x500" alt="">
              <div class="add-to-cart">
                <a href="{{item.link}}" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
              </div>
              <div class="caption">
                <h4 class="pull-right">{{item.price}}</h4>
                <h4><a href="product.html">{{item.title}}</a>
                </h4>
                <p>{{item.description}}</p>
                <div class="ratings">
                  <p class="pull-right"><a href="product#comments">{{item.reviews}} reviews</a></p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                  <p>
                    <span class="glyphicon glyphicon-tags"></span>
                    MobileOperator, SimCard, Mobile
                  </p>
                </div>
              </div>
            </div>
        </div>	  
	</div>
	<h1>Deals of the day</h1>
	<div class="row">
		<div ng-repeat="item in itemsDeals" class="col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="http://placehold.it/750x500" alt="">
              <div class="add-to-cart">
                <a href="{{item.link}}" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
              </div>
              <div class="caption">
                <h4 class="pull-right">{{item.price}}</h4>
                <h4><a href="product.html">{{item.title}}</a>
                </h4>
                <p>{{item.description}}</p>
                <div class="ratings">
                  <p class="pull-right"><a href="product#comments">{{item.reviews}} reviews</a></p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </div>
        </div>	  
	</div>
	<h1>Hot Products</h1>
	<div class="row">
		<div ng-repeat="item in itemsHot" class="col-sm-4 col-md-3">
            <div class="thumbnail">
              <img src="http://placehold.it/750x500" alt="">
              <div class="add-to-cart">
                <a href="{{item.link}}" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
              </div>
              <div class="caption">
                <h4 class="pull-right">{{item.price}}</h4>
                <h4><a href="product.html">{{item.title}}</a>
                </h4>
                <p>{{item.description}}</p>
                <div class="ratings">
                  <p class="pull-right"><a href="product#comments">{{item.reviews}} reviews</a></p>
                  <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                  </p>
                </div>
              </div>
            </div>
        </div>	  
	</div>
</section><!-- /.content -->