.btn {

  &:active {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &:focus {
    outline: none;
  }

  &.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    @include border-radius(50%);

    &.btn-circle-mini {
      width: 20px;
      height: 20px;
      line-height: 20px;
    }

    &.btn-circle-xs {
      width: 17px;
      height: 17px;
      line-height: 17px;
    }
  }

  &.btn-flat {
    @include border-radius(0);
    @include box-shadow(none);
    border-width: 1px;
  }

  &.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;

    &:hover {
      color: $white !important;
    }

    &.btn-primary {
      color: $light-blue;

      &:hover {
        background: $primary;
      }
    }

    &.btn-success {
      color: $green;

      &:hover {
        background: $success;
      }
    }

    &.btn-info {
      color: $aqua;

      &:hover {
        background: $info;
      }
    }

    &.btn-warning {
      color: $yellow;

      &:hover {
        background: $warning;
      }
    }

    &.btn-danger {
      color: $red;

      &:hover {
        background: $danger;
      }
    }
  }
}
