/**
 * Navigation dropdown for Cart
 */

.nav-tabs-holder {
  margin-bottom: 20px;
  background: transparent;

  &.nav-tabs-holder-flat {

    .nav-tabs li.active, .nav-tabs li.active:hover, 
    .nav-tabs li.active > a, .nav-tabs li.active:hover > a,
    .tab-contents {
      @include border-radius(0px);
    }

  }

  .nav-tabs {
    margin: 0px;
    border-bottom-color: $dim-gray;

    &.right {
      float: none !important;

      li {
        float: right;

        &:first-child {
          margin-right: 0px;

          &.active > a {
            border-left-width: 1px;
            border-right-width: 1px;
          }
        }
      }
    }

    &.nav-tabs-info {

      li {

        &.active {
          border-top-color: $info;
        }
      }
    }

    li {
      border-top: 2px solid transparent;
      margin-bottom: -2px;
      margin-right: 5px;

      &:first-child {
        margin-left: 0px;

        &.active > a {
          border-left-width: 0;
        }
      }

      &.active {
        border-top-color: $dim-gray;
        @include border-radius-sep(5px, 5px, 0px, 0px);

        > a, &:hover > a {
          background-color: $white;
          border-top: $zero;
          border-left-color: $dim-gray;
          border-right-color: $dim-gray;
          @include border-radius-sep(5px, 5px, 0px, 0px);
        }
      }

      &.header {
        line-height: 35px;
        padding-right: 10px;
        font: {
          weight: 400;
          size: 2em;
          family: 'lora', 'Open Sans', sans-serif;
        }
        color: $black;
        cursor: default;

        > .fa {
          margin-right: 5px;
        }
      }

      > a {
        @include border-radius(0);
        background: transparent;
        margin: 0;

        &:hover {
          background: transparent;
          margin: 0;
          border: 1px solid transparent;
        }
      }
    }
  }

  .tab-contents {
    background: $white;
    padding: 10px;
    border: 1px solid $dim-gray;
    border-top: 0px solid transparent;
    @include border-radius-sep(0px, 0px, 5px, 5px);

    .tab {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.cart-dropdown {
  width: 400px;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  background: $gray;

  .body {
    max-height: 300px;
    width: 100%;
    display: block;
    overflow: auto;
    border-bottom: solid 1px $dim-gray;
    background: $white;

    .product-row {
      padding: 5px;
      border-bottom: 1px solid #ddd;

      div {
        display: table-cell;
      }

      .product-thumb {
        width: 80px;
        text-align: center;

        > a > img {
          width: 60px;
          height: 60px;
        }
      }

      .product-description {
        width: 175px;
        padding: 0px 5px;
        margin-top: 0px;
        vertical-align: top;

        h4 {
          margin: 0px;
        }

        .product-size {
          color: $cart-description-color;
          font-size: 11px;
        }

        .product-price {
          color: $cart-price-color;
          font-size: 12px;
          font-weight: 700;
        }
      }

      .product-qty {
        width: 35px;
        text-align:center;
      }

      .product-total {
        width: 80px;
        text-align:center;
      }

      .product-delete {
        width: 20px;
        text-align: center;
      }
    }
  }

  .cart-footer {
    padding: 5px;

    .subtotal {
      margin: 2px 0px 5px 0px;
    }
  }

  img {
    width: 50px;
    max-height: 100px;
  }

  h4 {
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
}

.categories-dd-menu {

  li {
    border-bottom: 1px solid #f6f6f6;

    &:last-child {
      border-bottom: none;
    }
  }
}
