<div class="container">
	<div class="row">
		<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
			<div class="review-product-sm card">
				<div class="card-header">
          <h4 class="header">You have selected to review</h4>
        </div>
				<div class="card-body">
          <div class="product-xs">
						<img class="thumbnail" title="{{item.title}}" alt="{{item.title}}" src="{{item.image}}">
						<h5 class="review-item-title">{{item.title}}</h5>
					</div>
					<clearfix></clearfix>
        </div>
        <div class="card-footer">
					<a href="/product/{{item.id}}" class="reviews-other-link pull-right">See other reviews <i class="fa fa-angle-double-right"></i></a>
					<clearfix></clearfix>
				</div>
			</div>

			<div class="review-guideline-sm card card-solid card-primary">
				<div class="card-header" ng-click="showFaq = !showFaq">
          <h4 class="header">
						What makes a good review
						<small class="pull-right">
							<span ng-switch="showFaq">
								<i ng-switch-when="true" class="fa fa-caret-down"></i>
								<i ng-switch-when="false" class="fa fa-caret-right"></i>
							</span>
						</small>
					</h4>
        </div>
        <div class="review-faq-container card-body" collapse="!showFaq">
					<div class="review-faq" ng-repeat="faq in reviewFaqs">
						<h5 class="review-faq-question">{{faq.question}}</h5>
						<span class="review-faq-answer">{{faq.answer}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">
			<div class="alert alert-info write-review-note" ng-show="!reviewSubmitted">
        <i class="fa fa-question"></i>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
        	<i class="fa fa-close"></i>
        </button>
        <h4 class="header">Why should I review a product?</h4>
				Your rating of the product has a direct effect on customer perception for the product. Your rating contributes to the product’s overall rating. So, please be fair with your appraisal.
      </div>

			<div class="review-form card card-solid card-primary" ng-show="!reviewSubmitted">
				<div class="card-header">
					<h2 class="header">
						Write review and help others!
						<small class="review-notice pull-right">Fields marked with * are mandatory.</small>
					</h2>
				</div>
				<form role="form" name="reviewForm" novalidate ng-submit="addReview(reviewForm)">
					<div class="card-body">
						<div class="form-group">
              <div class="alert alert-danger" role="alert" ng-show="!reviewForm.$valid && submitted">
                <i class="fa fa-warning"></i>
                <p class="help-block" ng-show="reviewForm.title.$error.required && submitted">
                   Review title is required.
                </p>
                <p class="help-block" ng-show="reviewForm.title.$error.minlength && submitted">
                   Review title must be at least 5 characters long.
                </p>
                <p class="help-block" ng-show="reviewForm.title.$error.maxlength && submitted">
                   Review title should not be longer than 50 characters.
                </p>
                <p class="help-block" ng-show="reviewForm.name.$error.required && submitted">
                   Your Name is required.
                </p>
                <p class="help-block" ng-show="reviewForm.name.$error.minlength && submitted">
                   Name must be at least 3 characters long.
                </p>
                <p class="help-block" ng-show="reviewForm.email.$error.required && submitted">
                   Your Email Id is required.
                </p>
                <p class="help-block" ng-show="reviewForm.email.$error.email && submitted">
                   Invalid Email Id. Please enter a valid Email Id.
                </p>
                <p class="help-block" ng-show="reviewForm.ratings.$error.required && submitted">
                   Review ratings is required.
                </p>
                <p class="help-block" ng-show="reviewForm.comments.$error.required && submitted">
                   Review comments are required.
                </p>
                <p class="help-block" ng-show="reviewForm.comments.$error.minlength && submitted">
                   Review comments must be at least 50 characters long.
                </p>
                <p class="help-block" ng-show="reviewForm.place.$error.maxlength && submitted">
                   Place should not be longer than 15 characters.
                </p>
                <p class="help-block">{{ errors.other }}</p>
              </div>
            </div>
						<div class="form-group" ng-class="{ 'has-success': reviewForm.title.$valid && submitted, 'has-error': reviewForm.title.$invalid && submitted }">
							<label class="control-label">*Review Title:</label>
							<input class="form-control" type="text" name="title" ng-model="review.title" required ng-minlength="5" ng-maxlength="50" ng-disabled="reviewLoader" />
							<span class="help-block text-small">
								Enter at least 5 characters.
							</span>
						</div>
						<div class="form-group" ng-class="{ 'has-success': reviewForm.name.$valid && submitted, 'has-error': reviewForm.name.$invalid && submitted }">
							<label class="control-label">*Name:</label>
							<input class="form-control" type="text" name="name" ng-model="review.name" required ng-minlength="3" ng-disabled="reviewLoader || loggedInNow" />
							<span class="help-block text-small">
								Enter first and last name. Enter at least 3 characters.
							</span>
						</div>
						<div class="form-group" ng-class="{ 'has-success': reviewForm.email.$valid && submitted, 'has-error': reviewForm.email.$invalid && submitted }">
							<label class="control-label">*Email:</label>
							<input class="form-control" type="email" name="email" ng-model="review.emailId" required ng-disabled="reviewLoader || loggedInNow" />
						</div>
						<div class="form-group">
							<label class="control-label">Place:</label>
							<input class="form-control" type="text" name="place" ng-model="review.place" ng-disabled="reviewLoader" ng-maxlength="15" />
							<span class="help-block text-small">
								(Optional)
							</span>
						</div>
						<div class="form-group" ng-class="{ 'has-success': (reviewForm.comments.$valid && reviewForm.ratings.$valid && submitted), 'has-error': ((reviewForm.comments.$invalid || reviewForm.ratings.$invalid) && submitted) }">
							<label class="control-label">*Your Review:</label><br/>
							<rating name="ratings" ng-model="review.rating" class="review-form-rating" required></rating>
							<small class="pull-right help-block text-small">(Enter at least 50 characters.)</small>
							<textarea class="form-control text-area-bg" col="30" row="10" name="comments" ng-model="review.review" required ng-minlength="50" ng-disabled="reviewLoader"></textarea>
							<span class="help-block text-small">
								<strong>Please do not include:</strong> HTML, references to other retailers, pricing, personal information, any profane, inflammatory or copyrighted comments, or any copied content.
							</span>
						</div>
					</div>
					<div class="card-footer">
						<button type="submit" ui-ladda="reviewLoader" data-style="slide-left" class="ladda-button btn btn-default btn-flat" data-spinner-color="#646678"><span class="ladda-label"> Save Changes</span></button>
					</div>
				</form>
			</div>

			<div class="card card-solid" ng-show="reviewSubmitted">
				<div class="card-header">
					<h2 class="card-title"><i class="fa fa-check"></i> Your review has been submitted successfully.</h2>
				</div>
				<review-box no-footer="true" review="review" is-logged-in="{{loggedInNow}}" customer-id="{{customerId}}"></review-box>
        <div class="card-footer">
          <a href="/product/{{item.id}}#comments" class="reviews-other-link text-normal">See your review on product page <i class="fa fa-angle-double-right"></i></a>
        </div>
			</div>

			<div class="review-extra review-form card">
				<div class="card-body">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 review-extra-col">
							<h3 class="header-review-extra">Have questions regarding this product?</h3>
							<span>Please contact us by clicking here.</span>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 review-extra-col">
							<h3 class="header-review-extra">Had a great experience buying!</h3>
							<span>Or do you think we can do better? Tell us here.</span>
						</div>
					</div>
				</div>
			</div>

		</div> <!-- col -->
	</div> <!-- row -->
</div>
