.review-list-box {
	@extend .margin-bottom-10;

	.review-time {
		@extend .margin-right-10;
		line-height: 35px;
	}

	.review-sub-header {
		font-size: $font-size-small;
		margin-bottom: 0px;
	}

	.review-badges {
		@extend .margin-bottom-10;
	}

	.card-header {
		@extend .pad-bottom-10;
	}
}

.review-product-sm {
	@extend .margin-bottom-10;

	.card-header {
		padding-bottom: 0px;
	}

	.header {
		font-size: $font-size-base;
		@extend .pad-vertical-10;
		@extend .pad-left-10;
		margin: 0;
		font-weight: 400;
		cursor: default;
	}

	.product-xs {

		img {
			@include square(75px);
			display: inline;
			@extend .pull-left;
			@extend .margin-right-5;
			margin-bottom: 0;
		}

		.review-item-title {
			display: inline;
			vertical-align: top;
			font-size: $font-size-large;
		}
	}

	.reviews-other-link {
		font-size: $font-size-small;
	}
}

.review-guideline-sm {

	.header {
		font-size: 16px;
		border-bottom: 1px solid #dfdfdf;
		@extend .pad-5;
		margin-top: 0px;
		margin-bottom: 0px;
		@extend .text-cursor-pointer;

		small {
			color: $white;
			line-height: 16px;
		}
	}

	.review-faq-container {
		@extend .pad-horizontal-10;
		@extend .pad-bottom-10;

		.review-faq {
			@extend .margin-bottom-10;
			border-bottom: 1px solid $light-white;

			&:last-child {
				border-bottom: none;
			}

			.review-faq-question {
				font-size: $font-size-base;
				margin: 5px 0;
			}

			.review-faq-answer {
				font-size: $font-size-small;
			}
		}
	}
}

.write-review-note {
	font-size: $font-size-small;
	
	.header {
		font-size: $font-size-base;
	}
}

.review-form {

	.header {
		@extend .pad;
		margin: 0;
		cursor: default;
		font-weight: 400;
		border-bottom: 1px solid #e6e6e6;

		.review-notice {
			line-height: 25px;
			color: $white;
		}
	}

	.text-area-bg {
		height: 150px;
	}

	.review-form-rating {
		font-size: $font-size-h3;
	}
}

.review-extra {
	border-top: none;

	.review-extra-col {
		border-right: 1px dotted #e6e6e6;

		&:last-child {
			border-right: none;
		}

		.header-review-extra {
			margin-top: 0px;
		}
	}
}