<div class="container">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<h2 class="page-header">Reviews:</h2>
		</div>
		<div class="col-md-9 col-sm-12" ng-show="!noReviews">
      <review-box ng-repeat="review in itemReviews" review="review" is-logged-in="{{loggedIn}}" customer-id="{{customerId}}"></review-box>
      <div class="col-md-12 col-sm-12 text-center">
        <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="3" ng-change="pageChanged()"></pagination>
      </div>
    </div>
    <div class="col-md-9 col-sm-12 text-center" ng-show="noReviews">
    	<h2 class="alert alert-warning text-medium">
    		No reviews with this rating(s) found for this product.
    		Please try some other filters.
    	</h2>
    </div>
		<div class="col-md-3 col-sm-6">
			<h4 class="text-center">
				<a class="text-muted" href="/product/{{itemId}}"><i class="fa fa-angle-double-left"></i> Back to product</a>
			</h4>
      <div class="review-product-sm card">
        <div class="card-body">
          <div class="product-xs">
            <img class="thumbnail" title="{{item.title}}" alt="{{item.title}}" src="{{item.image}}">
            <h5 class="review-item-title">{{item.title}}</h5><br/>
            <span class="text-small">{{item.decsription}}</span>
          </div>
          <clearfix></clearfix>
        </div>
        <div class="card-footer">
          <a tooltip="Add to Cart" href="#" class="btn btn-default btn-flat btn-sm" title="Add to Cart"><i class="fa fa-plus text-small"></i> <i class="fa fa-shopping-cart"></i></a>
          <span ng-switch="isMyFav" class="pull-right">
            <button tooltip="Add to Wishlist" ng-switch-when="false" class="btn btn-default btn-circle add-to-fav" ng-click="addToFavorite()"><i class="fa fa-star"></i></button>
            <button tooltip="Remove from Wishlist" ng-switch-when="true" class="btn btn-warning btn-circle" ng-click="removeFavorite()"><i class="fa fa-star"></i></button>
          </span>
          <a href="/write-review/{{itemId}}" class="btn btn-default btn-flat btn-sm">Write a Review</a>
        </div>
      </div>
      <div class="card card-solid card-black review-list-box">
        <div class="card-header">
          <h3 class="card-title">Filter Reviews:</h3>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li><a href="/product-reviews/{{itemId}}/4"><i class="fa fa-angle-double-right"></i> 4 and 5 stars rated reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="/product-reviews/{{itemId}}/2"><i class="fa fa-angle-double-right"></i> 3 and 2 stars rated reviews</a></li>
            <li>&nbsp;</li>
            <li><a href="/product-reviews/{{itemId}}/1"><i class="fa fa-angle-double-right"></i> 1 star rated reviews</a></li>
          </ul>
        </div>
      </div>
    </div>
	</div>
</div>
