<div class="account_box">
	<div class="row">
	  <div class="col-lg-12 col-md-12 col-sm-12">
	    <h1 class="account_header">
	    	<i class="fa fa-star"></i> My Wishlist
	    </h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-12 col-md-12 col-sm-12 wishlist_history" ng-show="!noData">
      <div class="box box-primary" ng-repeat="item in items">
        <div class="box-body">
          <img src="{{item.mainImage}}" alt="{{item.title}}" class="product_image" />
          <div class="">
            <h4 class="product_price pull-right">
              {{item.currency}} {{item.price}}
            </h4>
            <h4 class="product_name">
              <a href="/product/{{item._id}}">{{item.title}}</a>
            </h4>
            <span class="text-normal">{{item.description}}</span>
          </div>
          <clearfix></clearfix>
        </div>
        <div class="box-footer">
          <a tooltip="Add to Cart" class="btn btn-default btn-sm">
            <i class="fa fa-plus text-small"></i>
            <i class="fa fa-shopping-cart"></i>
          </a>
          <a tooltip="Quick View" class="btn btn-default btn-sm">
            <i class="fa fa-eye"></i>
          </a>
          <a tooltip="Remove from Wishlist" class="btn btn-default btn-sm" ng-click="delete(item._id);">
            <i class="fa fa-minus text-small"></i>
            <i class="fa fa-star"></i>
          </a>
        </div>
      </div>
	  </div>

    <div class="col-md-12 col-sm-12 text-center" ng-show="totalItems > 0 && !noData">
      <pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="5" ng-change="pageChanged()"></pagination>
    </div>

    <div class="col-md-12 col-sm-12" ng-show="noData">
      <h4 class="alert alert-warning text-center">
        You don't have any products in your wishlist. Go to <a href="/" class="alert-link">home</a> page and add some.
      </h4>
    </div>
	</div> <!-- end of row -->
</div>