<script type="text/ng-template" id="addAddressPopup">
  <div class="modal-header">
    <h1 class="modal-title">{{popup.title}}</h1>
  </div>
  <div class="modal-body">
    <address-form></address-form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<div class="account_box">
	<div class="row">
	  <div class="col-lg-12 col-md-12 col-sm-12">
	    <h1 class="account_header"><i class="fa fa-user"></i> My Profile</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-6 col-md-6 col-sm-12">
      <!-- start profile form -->
      <form class="form" role="form" name="profileForm" ng-submit="updateProfile(profileForm)" novalidate>
  	    <div class="box box-success">
  	    	<div class="box-header">
            <h3 class="box-title">User info</h3>
          </div>
          <div class="box-body">
            <div class="form-group">
              <div class="alert alert-danger" role="alert" ng-show="!profileForm.$valid && profileSubmitted">
                <i class="fa fa-warning"></i>
                <p class="help-block" ng-show="profileForm.firstName.$error.required && profileSubmitted">
                   Please enter your first name.
                </p>
                <p class="help-block" ng-show="profileForm.firstName.$error.minlength && profileSubmitted">
                   Firstname must be at least 3 characters long.
                </p>
                <p class="help-block" ng-show="profileForm.lastName.$error.required && profileSubmitted">
                   Please enter your last name.
                </p>
                <p class="help-block" ng-show="profileForm.lastName.$error.minlength && profileSubmitted">
                   Lastname must be at least 3 characters long.
                </p>
                <p class="help-block" ng-show="profileForm.mobile.$error.required && profileSubmitted">
                   Please enter your mobile number.
                </p>
                <p class="help-block" ng-show="profileForm.mobile.$error.minlength && profileSubmitted">
                   Mobile must be at least 10 characters long.
                </p>
                <p class="help-block" ng-show="profileForm.mobile.$error.pattern && profileSubmitted">
                   Please enter a valid mobile number.
                </p>
                <p class="help-block">{{ errors.profile }}</p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': profileForm.firstName.$valid && profileSubmitted, 'has-error': profileForm.firstName.$invalid && profileSubmitted }">
              <label class="control-label">First name:</label>
              <div class="">
                <input class="form-control flat" type="text" ng-model="user.firstName" name="firstName" required ng-minlength="3" ng-disabled="profileLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': profileForm.lastName.$valid && profileSubmitted, 'has-error': profileForm.lastName.$invalid && profileSubmitted }">
              <label class="control-label">Last name:</label>
              <div class="">
                <input class="form-control flat" type="text" ng-model="user.lastName" name="lastName" required ng-minlength="3" ng-disabled="profileLoader" />
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': profileForm.mobile.$valid && profileSubmitted, 'has-error': profileForm.mobile.$invalid && profileSubmitted }">
              <label class="control-label">Mobile:</label>
              <div class="">
                <input class="form-control flat" type="text" ng-model="user.mobile" name="mobile" required ng-minlength="10" input-mask="'mask'" mask-option="{'mask': '999-999-9999'}" ng-disabled="profileLoader" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Landline:</label>
              <div class="">
                <input class="form-control flat" type="text" name="landline" ng-model="user.landline" ng-disabled="profileLoader" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Gender:</label>
              <div class="">
                <select id="gender" ng-model="user.gender" placeholder="Select Gender" class="form-control" name="gender" ng-disabled="profileLoader">
                  <option value="-">-- Prefer not to say --</option>
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" ui-ladda="profileLoader" data-style="slide-left" class="ladda-button btn btn-success btn-sm" data-spinner-color="#646678"><span class="ladda-label"> Save Changes</span></button>
          </div>
      	</div> <!-- end of panel -->
      </form><!-- end profile form -->
	  </div>
	  <div class="col-lg-6 col-md-6 col-sm-12">
      <!-- start account form -->
      <form class="form" role="form" name="emailForm" ng-submit="updateEmail(emailForm)" novalidate>
  	    <div class="box box-success">
  	    	<div class="box-header">
            <h3 class="box-title">Account info</h3>
            <div class="box-tools pull-right">
              <a class="btn btn-success btn-xs text-white" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Expand/<br/>Collapse" data-html="true" data-placement="left"><i class="fa fa-minus"></i></a>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <div class="alert alert-danger" role="alert" ng-show="!emailForm.$valid && emailSubmitted">
                <i class="fa fa-warning"></i>
                <p class="help-block" ng-show="emailForm.email.$error.required && emailSubmitted">
                   Please enter your email id.
                </p>
                <p class="help-block" ng-show="emailForm.email.$error.email && emailSubmitted">
                   Enter a valid email address.
                </p>
                <p class="help-block" ng-show="emailForm.email.$error.mongoose">
                  {{ errors.email }}
                </p>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-success': emailForm.email.$valid && emailSubmitted, 'has-error': emailForm.email.$invalid && emailSubmitted }">
              <label class="control-label">Email:</label>
              <div class="">
                <input class="form-control flat" type="email" ng-model="user.email" ng-disabled="emailLoader" name="email" required mongoose-error />
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" ui-ladda="emailLoader" data-style="slide-left" class="ladda-button btn btn-success btn-sm" data-spinner-color="#646678"><span class="ladda-label"> Save Changes</span></button>
          </div>
      	</div> <!-- end of panel -->
      </form>
      <!-- end account form -->


      <!-- start emails form -->
      <form class="form" role="form" name="notificationForm" ng-submit="updateNotifications(notificationForm)">
      	<div class="box box-success">
  	    	<div class="box-header">
            <h3 class="box-title">Notifications</h3>
            <div class="box-tools pull-right">
              <a class="btn btn-success btn-xs text-white" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Expand/<br/>Collapse" data-html="true" data-placement="left"><i class="fa fa-minus"></i></a>
            </div>
          </div>
          <div class="box-body">
            <div class="alert alert-danger" role="alert" ng-show="!notificationForm.$valid && notificationSubmitted">
                <i class="fa fa-warning"></i>
                <p class="help-block">
                  {{ errors.notifications }}
                </p>
              </div>
            <div class="form-group">
              <div class="row">
				        <div class="col-md-12">
				          <p>
				          	<input type="checkbox" class="form-controler flat" id="profile_newsletter" ng-model="user.newsletter" ng-disabled="notificationLoader" />
				          	<label for="profile_newsletter">Sign up for our newsletter!</label>
				          </p>
				          <p>
				          	<input type="checkbox" class="form-controler flat" id="profile_special_offer" ng-model="user.specialOffers" ng-disabled="notificationLoader" />
				          	<label for="profile_special_offer">Receive special offers from our partners!</label>
				          </p>
				        </div>
					    </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="submit" ui-ladda="notificationLoader" data-style="slide-left" class="ladda-button btn btn-success btn-sm" data-spinner-color="#646678"><span class="ladda-label"> Save Changes</span></button>
          </div>
    	  </div> <!-- end of panel -->
      </form>
      <!-- end emails form -->
	  </div> <!-- end of col -->
	</div> <!-- end of row -->
</div>

<div class="account_box">
	<div class="row">
	  <div class="col-lg-12 col-md-12 col-sm-12">
	    <h1 class="account_header">
	    	<i class="fa fa-truck"></i> My Addresses
	    	<a href="#" ng-click="openAddAddressDialog()" class="btn btn-primary btn-sm pull-right"><i class="fa fa-plus"></i> Add new</a>
	    </h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-lg-4 col-md-4 col-sm-6" ng-repeat="address in user.addresses">
	    <div class="box box-default">
	    	<div class="box-header">
          <h3 class="box-title">{{address.title}}</h3>
        </div>
        <div class="box-body">
        	<address>
					  <strong>{{address.firstName}} {{address.lastName}}</strong><br>
					  {{address.addressLine1}},<br>
					  {{address.addressLine2}},<br>
					  {{address.city}},<br>
					  {{address.state}}, {{address.country}} - {{address.zipcode}}<br>
					  <abbr title="Email">E:</abbr> {{address.email}}<br>
					  <abbr title="Phone">P:</abbr> {{address.mobile}}
					</address>
        </div>
        <div class="box-footer">
        	<span ng-switch="address.isDefault">
        		<span ng-switch-when="true">
        			<span class="label label-default default_selection">Default</span>
        		</span>
        		<span ng-switch-when="false">
        			<button type="button" class="btn btn-default btn-sm" ng-click="makeAddressDefault(address._id)">Make Default</button>
        		</span>
        	</span>
        	<div class="box-tools pull-right">
            <button class="btn btn-default btn-sm" tooltip="Edit" title="Edit this address" ng-click="openEditAddressDialog(address)"><i class="fa fa-pencil"></i></button>
            <button class="btn btn-default btn-sm" tooltip="Delete" title="Delete this address" ng-click="deleteAddress(address.title, address._id)"><i class="fa fa-trash"></i></button>
          </div>
          <div class="clearfix"></div>
        </div>
    	</div> <!-- end of panel -->
	  </div>
	</div> <!-- end of row -->
  <div class="" ng-show="user.addresses.length === 0">
    <br/>
    <div class="text-center alert alert-warning">
      <i class="fa fa-warning"></i>
      You don't have any saved address yet.
    </div>
    <div class="col-md-12 box box-solid">
      <div class="box-body text-normal">
        By saving address, you save time in checkout process. You can select delivery address from saved addresses and save time and you don't have to bother evrytime entering same address. <a class="text-muted" href="#" ng-click="openAddAddressDialog()">Add new</a> address now to use it in checkout.
      </div>
    </div>
  </div>
</div>