/**
 * MIXINS for specific components
 */

@mixin card-solid-variant($color) {
  > .card-header {
    color: #fff;
    background: $color;        
    background-color: $color;   
    a {
      color: #444;
    }
  }
}
