<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 cart_step_body auth_box">
      <h2 class="auth_header">Select Payment Method</h2>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                <div class="list-group">
                  <a class="list-group-item" ng-repeat="method in paymentMethods" href="/checkout/payment{{method.url}}" ng-class="{active: isActive('/checkout/payment{{method.url}}')}"><i class="fa {{method.icon}} fa-fw"></i> {{method.name}} <i class="fa fa-chevron-circle-right pull-right" ng-show="isActive('/checkout/payment{{method.url}}')"></i></a>
                </div>
              </div>
              <div class="col-md-8 col-sm-8">
                <div ui-view=""></div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
            <a href="/checkout" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Back</a>
            <a href="#" class="btn btn-success pull-right" ng-click="proceed();">Proceed <i class="fa fa-angle-double-right"></i></a>
          </div>
        </div>
    </div>
  </div>
</div>