<div class="account_box">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="account_header">
        <i class="fa fa-bell-o"></i> Notifications
        <small class="pull-right"><i class="fa fa-info-circle text-cursor-pointer" ng-class="{'text-primary': isNotificationNoteCollapsed}" title="Show info/help" ng-click="isNotificationNoteCollapsed = !isNotificationNoteCollapsed"></i></small>
      </h1>
    </div>
  </div>
  <br/>
  <div class="alert alert-info" collapse="!isNotificationNoteCollapsed">
    <i class="fa fa-info"></i>
    Upto 6 months old notifications are displayed here. <br/>
    For older notifications please make a request <a class="alert-link" href="/contact">here</a> with your account details.
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="box box-success">
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 notification-list-box" ng-repeat="notification in notifications">
              <div class="row">
                <div class="col-md-1">
                  <span ng-switch="notification.type">
                    <span ng-switch-when="1">
                      <i class="fa fa-truck fa-3x fa-fw text-navy"></i>
                    </span>
                    <span ng-switch-when="2">
                      <i class="fa fa-plane fa-3x fa-fw text-navy"></i>
                    </span>
                    <span ng-switch-when="3">
                      <i class="fa fa-user fa-3x fa-fw text-navy"></i>
                    </span>
                    <span ng-switch-when="4">
                      <i class="fa fa-gift fa-3x fa-fw text-navy"></i>
                    </span>
                  </span>
                </div>
                <div class="col-md-11">
                  <div class="text-normal"><em>{{notification.date}}</em></div>
                  <div>{{notification.notes}}</div>
                </div>
              </div>
            </div> <!-- col end -->
          </div>
        </div> <!-- box body end -->
        <div class="box-footer">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <nav class="text-center">
                <ul class="pagination pagination-sm user-review-pagination">
                  <li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
                </ul>
              </nav>
            </div> <!-- col end -->
          </div>
        </div>
      </div>

    </div>
  </div> <!-- end of row -->
</div>