<div class="container">
  <div class="row">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <h1>Your Cart</h1>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5">
      <h3 class="continueShopping"><a href="/"><i class="fa fa-angle-double-left"></i> &nbsp; Countinue Shopping</a></h3>
    </div>
  </div>
  <div class="row" ng-show="cart.products && cart.products.length > 0">
    <div class="col-lg-9 col-md-9 col-sm-7">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <table class="cartTable table table-responsive">
            <thead>
              <tr class="header">
                <th width="10%">Product</th>
                <th width="40%">Details</th>
                <th width="10%">Qty</th>
                <th width="15%">Price</th>
                <th width="15%">Total</th>
                <th width="5%" class="delete">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              <tr class="item" ng-repeat="item in cart.products">
                <td class="producThumb">
                  <a href="/product/{{item._id}}"><img alt="{{item.title}}" src="{{item.img}}" /></a>
                </td>
                <td class="description">
                  <h4><a href="/product/{{item._id}}">{{item.title}}</a></h4>
                  <span class="intro">{{item.description}}</span>
                </td>
                <td class="qty">
                  <input placeholder="1" ng-model="item.qty" />
                </td>
                <td class="price">
                  <span>{{item.currency}} {{item.price}}</span>
                </td>
                <td class="total">
                  <span>{{item.currency}} {{item.price * item.qty}}</span>
                </td>
                <td class="delete">
                  <i class="fa fa-trash" ng-click="deleteItem(item._id)"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <span class="pull-right">
            <a class="btn btn-default" title="checkout" href="/"> <i class="fa fa-angle-double-left"></i> &nbsp; Continue Shopping </a>
            <a class="btn btn-primary" title="checkout" href="#"> <i class="fa fa-refresh"></i> &nbsp; Update Cart </a>
          </span>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-5">
      <order-summary></order-summary>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a class="btn btn-success btn-lg btn-block" title="checkout" href="/auth"> Proceed to checkout &nbsp; <i class="fa fa-chevron-circle-right"></i> </a>
        </div>
      </div>
    </div>
  </div>
  <div class=="row" ng-hide="cart.products && cart.products.length > 0">
    <div class="col-md-12 col-sm-12">
      <h4 class="alert alert-warning">
        There are no products in your cart. Go to <a href="/" class="alert-link">home</a> page and add your favorite products in cart to buy.
      </h4>
    </div>
  </div>
<div>