.account_box {

	.account_header {
		padding-bottom: 5px;
		border-bottom: 1px solid #e0e0e0;
	}

	.card-footer {
		padding: 5px !important;
		background-color: #fafafa !important;
	}

	.default_selection {
		font-size: 12px;
	}

	label {
		font-weight: 400;
	}

	.order_history, .wishlist_history {

		.header {
			text-transform: uppercase;
			font-weight: bold;
			font-size: 14px;
		}
	}

	.wishlist_history {
    
    .product_image {
			width: 100px;
			height: 100px;
			display: table-cell;
			float: left;
			margin-right: 10px;
    }

    .product_description {
    	display: table-cell;
    }
	}

	.dataTables_length {
		display: none;
	}
}

.recently-rated-box {
	clear:both;
	margin-bottom: 20px;

	img {
		width: 50px;
		height: 50px;
		display: inline-block;
		float: left;
		margin-right: 10px;
	}

	.recently-rated-box-descr {

		h5 {
			margin-top: 0px;
			margin-bottom: 5px;
		}
	}
}

.user-review-box {

	&.card {

		.card-header {
			padding-bottom: 0px;
		}

		.card-body {
			padding-top: 0px;
		}
	}

	.user-review-header {
		padding: 10px;
		border-bottom: 1px solid #f6f6f6;

		img {
			width: 50px;
			height: 50px;
			display: inline-block;
			float: left;
			margin-right: 10px;
		}

		.user-review-header-descr {

			h5 {
				margin-top: 0px;
				margin-bottom: 5px;
				font-size: 14px;
				padding-bottom: 0px;
				border-bottom: none;
			}

			.user-review-header-product-description {
				font-size: 12px;
			}
		}
	}

	.user-review-title {
		font-size: 14px;
	}

	.user-review-comments {
		font-size: 12px;
	}
}

.user-review-pagination {
	margin: 0px;
}

.invoice {
	position: relative;
	width: 95%;
	margin: 10px auto;
	background: #fff !important;
	border: 1px solid #f4f4f4;
}

.security-guarantee-box {

	.security-guarantee-description {
		float: left;
		display: inline-block;
	}

	.security-guarantee-image {
		float: right;
		display: inline-block;
		margin-left: 10px;
	}
}

.notification-list-box {
	border-bottom: 1px solid #f6f6f6;
	padding: 10px;

	&:last-child {
		border-bottom: none;
		padding-bottom: 5px;
	}

	&:first-child {
		padding-top: 5px;
	}
}