.account_box {

  .account_header {
    @extend .pad-bottom-5;
    @extend .border-bottom;
    @extend .margin-top-5;
  }

  .card-footer {
    padding: 5px !important;
    background-color: $light-gray !important;
  }

  .default_selection {
    font-size: $font-size-small;
  }

  label {
    font-weight: 400;
  }

  .order_history, .wishlist_history {

    .header {
      text-transform: uppercase;
      font-weight: bold;
      font-size: $font-size-base;
    }
  }

  .wishlist_history {

    .card-body {
      @extend .pad-5;
    }

    .product_image {
      @include square(60px);
      display: table-cell;
      @extend .pull-left;
      @extend .margin-right-5;
    }

    .product_description {
      display: table-cell;
    }

    .product_price, .product_name {
      margin: 0px;
    }
  }

  .dataTables_length {
    @extend .hide;
  }
}

.recently-rated-box {
  clear:both;
  margin-bottom: 20px;

  img {
    @include square(50px);
    display: inline-block;
    @extend .pull-left;
    @extend .margin-right-10;
  }

  .recently-rated-box-descr {

    h5 {
      margin-top: 0px;
      @extend .margin-bottom-5;
    }
  }
}

.user-review-box {

  &.card {

    .card-header {
      padding-bottom: 0px;
    }

    .card-body {
      padding-top: 0px;
    }
  }

  .user-review-header {
    @extend .pad;
    border-bottom: 1px solid $light-white;

    img {
      @include square(50px);
      display: inline-block;
      @extend .pull-left;
      @extend .margin-right-10;
    }

    .user-review-header-descr {

      h5 {
        margin-top: 0px;
        @extend .margin-bottom-5;
        font-size: $font-size-base;
        padding-bottom: 0px;
        border-bottom: none;
      }

      .user-review-header-product-description {
        font-size: $font-size-small;
      }
    }
  }

  .user-review-title {
    font-size: $font-size-base;
  }

  .user-review-comments {
    font-size: $font-size-small;
  }
}

.invoice {
  position: relative;
  width: 95%;
  //margin: 10px auto;
  @extend .margin-vertical-auto-10;
  background: $white !important;
  border: 1px solid $gray;
}

.security-guarantee-box {

  .security-guarantee-description {
    @extend .pull-left;
    display: inline-block;
  }

  .security-guarantee-image {
    @extend .pull-right;
    display: inline-block;
    @extend .margin-left-10;
  }
}

.notification-list-box {
  //border-bottom: 1px solid $light-white;
  @extend .border-bottom;
  @extend .pad;

  &:last-child {
    border-bottom: none;
    @extend .pad-bottom-5;
  }

  &:first-child {
    @extend .pad-top-5;
  }

  .notification {
    @extend .border-left;

    &.new-success {
      border-left-color: #00A65A;
    }

    &.new-fail {
      border-left-color: #FF851B;
    }
  }
  
}

.user-info-box {
  //border: 1px solid #f6f6f6;
  @extend .border;
  @extend .pad-5;

  .user-image-box, .user-name-box {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  .user-image-box {
    color: $white;
    background-color: $primary;
    border-color: $primary;
    text-align: center;
  }

  .user-name-box {
    @extend .pad-left-5;

    p {
      margin: 0 0 2px 2px;
    }
  }
}

.user-order-box {
  margin-bottom: 10px !important;

  .order-details {
    @extend .pad-bottom-5;

    .order-items {
      margin-left: 25px;
    }
  }

  .order-grand-total {
    @extend .margin-top-5;
    @extend .pad-top-5;
    @extend .border-top;
  }

  .order-products {
    padding: 3px 0px;
    margin: 10px 0px;
    @extend .border-top;

    .order-product {
      @extend .pad-vertical-5;

      .order-product-review-button {
        overflow: hidden;
        width: 35px;
        @include transitions(all .5s ease-in);

        .text {
          display: none;
        }

        &:hover {
          width: 125px;
          
          .text {
            display: inline-block;
          }
        }
      }

      .order-product-details {
        font-size: $font-size-base;
        vertical-align: top;

        .order-product-image {
          @include square(75px);
          display: table-cell;
          @extend .pull-left;
          @extend .margin-right-5;
        }

        .order-product-name {
          @extend .margin-right-5;

          .order-product-description {
            font-size: 11px;
            display: inline-block;
            max-width: 70%;
            @include text-overflow();
          }
        }
      }
    }
  }
}
