// BOXES
// ================

.box {
    position: relative;
    background: $box-bg;
    border-top: $box-border-top;
    margin-bottom: $box-body-bottom-margin;
    @include border-radius($box-border-radius);
    width: $box-width;
    @include box-shadow($box-shadow);

    // Box color variations
    &.box-primary {
        border-top-color: $box-primary-border;
    }
    &.box-info {
        border-top-color: $box-info-border;
    }
    &.box-danger {
        border-top-color: $box-danger-border;
    }
    &.box-warning {
        border-top-color: $box-warning-border;
    }
    &.box-success {
        border-top-color: $box-success-border;
    }

    // max height to 300px
    &.height-control {
        .box-body {
            max-height: 300px;
            overflow: auto;
        }
    }

    // fixed height to 300px
    &.fix-height {
        .box-body {
            min-height: 300px;
            height: 300px;
            max-height: 300px;
            overflow: hidden;
        }
    }

    // fixed height to 150px
    &.fix-height-sm {
        .box-body {
            min-height: 150px;
            height: 150px;
            max-height: 150px;
            overflow: hidden;
        }
    }

    // Box header
    .box-header {
        position: relative;
        @include clearfix();
        
        //Add top left and top right border radius
        @include border-radius-sep($box-border-radius, $box-border-radius, 0, 0);
        
        border-bottom: $box-header-border-bottom;
        color: $box-header-color;
        padding-bottom: $box-header-padding-bottom;
        
        // Icons and box title
        > .fa, > .glyphicon, > .ion,
        .box-title {
            display: inline-block;
            padding: 10px 0px 10px 10px;
            margin: 0;
            font-size: $box-title-font-size;
            font-weight: $box-title-font-weight;
            float: left;
            cursor: default;
        }
        
        a {
            color: $box-header-color;
        }
        
        // Box Tools
        > .box-tools {
            padding: 5px 10px 5px 5px;
        }
    }

    // Box body
    .box-body {
        padding: 10px;
        @include border-radius-sep(0, 0, $box-border-radius, $box-border-radius);
        // Tables within the box body
        > table, > .table {
            margin-bottom: 0;
        }
        .table {
            margin-bottom: 0;
        }
        .full-width-chart {
            margin: -19px;
        }
        &.no-padding .full-width-chart {
            margin: -9px;
        }
    }

    // Box footer
    .box-footer {
        border-top: 1px solid $box-border-color;
        @include border-radius-sep(0, 0, $box-border-radius, $box-border-radius);
        padding: 10px;
        background-color: $box-footer-bg;
    }

    //
    // SOLID BOX:
    //------------------
    //use this class to get a colored header and borders
    //

    &.box-solid {
        border-top: 0px;
        > .box-header {
            padding-bottom: 0px!important;
            .btn.btn-default {
                background: transparent;
            }
        }

        // Box color variations
        &.box-primary {
            @include box-solid-variant($box-primary-border);
        }
        &.box-info {
            @include box-solid-variant($box-info-border);
        }
        &.box-danger {
            @include box-solid-variant($box-danger-border);
        }
        &.box-warning {
            @include box-solid-variant($box-warning-border);
        }
        &.box-success {
            @include box-solid-variant($box-success-border);
        }
        &.box-black {
            @include box-solid-variant($box-grey-border);
        }

        > .box-header > .box-tools > .btn {
            border: 0;
            box-shadow: none;
        }

        // collapsed mode
        &.collapsed-box {
            .box-header {
                @include border-radius($box-border-radius);
            }
        }

        // Fix font color for tiles
        &[class*='bg'] {
            > .box-header {
                color: $white;
            }
        }
    }
}