a {
  font-weight: bold;
  text-decoration: none;
  &:hover { text-decoration: underline; }
  body.firefox & { font-weight: normal; }
}
#main {
  color: black;
  &-sidebar { border: 1px solid; }
}

.funky {
  font: {
    family: fantasy;
    size: 30em;
    weight: bold;
  }
}

//HEADS
@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
  #{$header} {
    font-size: $size;
  }
}
