/**
 * Message Boxes
 */

.message-box {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;

  &.success {
    border-color: green;
  }

  &.error {
    border-color: #fa9999;
    background: #fa9999;
  }

  &.warning {
    border-color: yellow;
  }
}
