/**
 * Navigation dropdown for Cart
 */

.nav-tabs-holder {
  margin-bottom: 20px;
  background: transparent;

  .nav-tabs {
    margin: 0px;
    border-bottom-color: $dim-gray;

    &.right {
      float: none !important;

      li {
        float: right;

        &:first-child {
          margin-right: 0px;

          &.active > a {
            border-left-width: 1px;
            border-right-width: 1px;
          }
        }
      }
    }

    li {
      border-top: 2px solid transparent;
      margin-bottom: -2px;
      margin-right: 5px;

      &:first-child {
        margin-left: 0px;

        &.active > a {
          border-left-width: 0;
        }
      }

      &.active {
        border-top-color: $dim-gray;
        @include border-radius-sep(5px, 5px, 0px, 0px);

        > a, &:hover > a {
          background-color: $white;
          border-top: $zero;
          border-left-color: $dim-gray;
          border-right-color: $dim-gray;
          @include border-radius-sep(5px, 5px, 0px, 0px);
        }
      }

      &.header {
        line-height: 35px;
        padding-right: 10px;
        font: {
          weight: 400;
          size: 2em;
          family: 'lora', 'Open Sans', sans-serif;
        }
        color: $black;
        cursor: default;

        > .fa {
          margin-right: 5px;
        }
      }

      > a {
        @include border-radius(0);
        background: transparent;
        margin: 0;

        &:hover {
          background: transparent;
          margin: 0;
          border: 1px solid transparent;
        }
      }
    }
  }

  .tab-contents {
    background: $white;
    padding: 10px;
    border: 1px solid $dim-gray;
    border-top: 0px solid transparent;
    @include border-radius-sep(0px, 0px, 5px, 5px);

    .tab {
      display: none;

      &.active {
        display: block;
      }
    }
  }
}

.cart-dropdown {
  width: 400px;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  background: $gray;

  .body {
    max-height: 300px;
    width: 100%;
    display: block;
    overflow: auto;
    border-bottom: solid 1px $dim-gray;
    background: $white;

    table {
      width: 100%;
      height: auto;

      tr {
        border-bottom: solid 1px $dim-gray;

        td {
          padding: 5px 0;

          &.productThumb {
            text-align: center;
          }

          .description {
            
            .size {
              color: $cart-description-color;
              font-size: 11px;
            }

            .price {
              color: $cart-price-color;
              font-size: 12px;
              font-weight: 700;
            }
          }

          &.delete {
            cursor: pointer;
          }
        }
      }
    }
  }

  .cartFooter {
    padding: 5px;
  }

  img {
    width: 50px;
    max-height: 100px;
  }

  h4 {
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
}
