// Navigation
//==============
.navbar-top-links {
  li {
     display: block;
  }

  .dropdown-messages, .dropdown-tasks, .dropdown-alerts {
    min-width: 0;
    width: 310px;
  }

  .dropdown-messages {
     margin-left: 5px;
  }
  
  .dropdown-tasks {
     margin-left: -59px;
  }
  
  .dropdown-alerts {
     margin-left: -123px;
  }
  
  .dropdown-user {
    right: 0;
    left: auto;
  }
  .dropdown-menu li a div {
    white-space: normal;
  }
}

.cart-dropdown {
  width: 400px;
  padding: 0;
  border-radius: 0;
  margin-top: 0;
  background: $gray;

  .body {
    max-height: 300px;
    width: 100%;
    display: block;
    overflow: auto;
    border-bottom: solid 1px $dim-gray;
    background: $white;

    table {
      width: 100%;
      height: auto;

      tr {
        border-bottom: solid 1px $dim-gray;

        td {
          padding: 5px 0;

          &.productThumb {
            text-align: center;
          }

          .description {
            
            .size {
              color: $cart-description-color;
              font-size: 11px;
            }

            .price {
              color: $cart-price-color;
              font-size: 12px;
              font-weight: 700;
            }
          }

          &.delete {
            cursor: pointer;
          }
        }
      }
    }
  }

  .cartFooter {
    padding: 5px;
  }

  img {
    width: 50px;
    max-height: 100px;
  }

  h4 {
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: $screen-md) {
  .navbar-top-links {
      .dropdown-messages, .dropdown-tasks, .dropdown-alerts {
      margin-left: auto;
    }
  }
}
