.progress {

  &.progress-sm {
    height: $progress-bar-sm-height;
  }

  &.progress-xs {
    height: $progress-bar-xs-height;
  }

  &.progress-vertical {
    position: relative;
    width: $progress-bar-vertical-width;
    height: $progress-bar-vertical-height;
    display: inline-block;
    margin-right: 10px;

    > .progress-bar {
      width: $hundred-percent !important;  
      position: absolute;
      bottom: $zero;
    }

    &.progress-sm {
      width: $progress-bar-sm-width;
    }
    &.progress-xs {
      width: $progress-bar-xs-width;
    }
  }
} 

// Variations -- Uses Mixins from Bootstrap to generate.
.progress-bar-light-blue, .progress-bar-primary {
  @include progress-bar-variant($progress-bar-bg);
}
.progress-bar-green, .progress-bar-success {
  @include progress-bar-variant($progress-bar-success-bg);
}
.progress-bar-aqua, .progress-bar-info {
  @include progress-bar-variant($progress-bar-info-bg);
}
.progress-bar-yellow, .progress-bar-warning {
  @include progress-bar-variant($progress-bar-warning-bg);
}
.progress-bar-red, .progress-bar-danger {
  @include progress-bar-variant($progress-bar-danger-bg);
}
