//Contains All variables
//-----------------------

//Layout
//Side bar and logo width
$left-side-width: 220px;
$hundred-percent: 100%;
$zero: 0;
$none: none;

//Colors
$light-blue: #3c8dbc; //Primary
$red: #F56954;        //Danger
$green: #00A65A;      //Success
$aqua: #00C0EF;       //Info
$yellow: #F39C12;     //Warning

$brand-primary: $light-blue; //Primary
$brand-danger: $red;        //Danger
$brand-success: $green;      //Success
$brand-info: $aqua;       //Info
$brand-warning: $yellow;     //Warning

$blue: #0073b7;
$navy:  #001F3F;
$teal:  #39CCCC;
$olive: #3D9970;
$lime:  #01FF70;
$orange:  #FF851B;
$fuchsia: #F012BE;
$purple:  #932ab6;
$maroon:  #85144B;
$black: #222;
$gray: #EAEAEC;
$white: #FFF;
$light-white: #F6F6F6;
$light-green: #649614;
$dim-gray: #ddd;
$gold: #ffd700;

//Link colors (Aka: <a> tags)
$link-color: $light-blue;
$link-hover-color: lighten($link-color, 15%);

//Body background (Affects main content background only)
$body-bg: #f9f9f9;

//Table striped color
$table-striped-color: #f3f4f5;

//Sidebar skins
//skin blue (light) sidebar vars
$sidebar-light-bg: #f4f4f4;
$sidebar-light-hover-bg: #f9f9f9;
$sidebar-light-font: #555;
$sidebar-light-border: #dbdbdb;

//Screen widths - Same as bootstrap default settings
$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 992px;
$screen-lg: 1200px;
//When the logo should go to the top of the screen
$screen-header-collapse: 560px; 

//FORMS
$input-radius: 0px;

//BUTTONS
//Border radius for non flat buttons
$btn-border-radius: $border-radius-small;

//CHAT widget
$attachment-border-radius: $border-radius-small;

//PROGRESS-BARS
$progress-bar-xs-height: 7px;
$progress-bar-xs-width: 10px;
$progress-bar-sm-height: 10px;
$progress-bar-sm-width: 20px;

$progress-bar-vertical-height: 200px;
$progress-bar-vertical-width: 30px;

//** Background color of the whole progress component
$progress-bg:                 $light-white !default;
//** Progress bar text color
$progress-bar-color:          $white !default;
//** Default progress bar color
$progress-bar-bg:             $light-blue !default;
$progress-bar-success-bg:     $green !default;
$progress-bar-warning-bg:     $yellow !default;
$progress-bar-danger-bg:      $red !default;
$progress-bar-info-bg:        $aqua !default;

//BOXES
$box-bg:                    $white !default;
$box-width:                 $hundred-percent !default;
$box-body-bottom-margin:    20px !default;
$box-body-padding:          15px !default;
$box-border-color: 			#f4f4f4;
$box-shadow: 				0px 1px 3px rgba(0, 0, 0, 0.1);
$box-border-top:          	2px solid darken($box-border-color, 20%);
$box-heading-padding:       10px 15px !default;
$box-footer-padding:        $box-heading-padding !default;
$box-border-radius:         $border-radius-small !default;

$box-header-border-bottom: 	0px solid $box-border-color;
$box-header-color: 			#444;
$box-header-padding-bottom: 10px;

$box-title-font-size: 		20px;
$box-title-font-weight: 	400;

$box-inner-border:          #ddd !default;
$box-footer-bg:             #f5f5f5 !default;
$box-default-border:        #ddd !default;
$box-primary-border:        $light-blue !default;
$box-success-border:        $green !default;
$box-info-border:           $aqua !default;
$box-warning-border:        $yellow !default;
$box-danger-border:         $red !default;
$box-grey-border:         	#a0a0a0 !default;

$cart-price-color: #444;
$cart-description-color: #888;
